[2017-11-13 14:51] pelsasser opened #1 "Add tests with goal of 100% coverage"

[2017-11-13 14:53] pelsasser opened #2 "Create "OTC" style dApp for testnet"
allow for user to deploy a contract, create orders, trade, browse deployed contracts, query open positions

[2017-11-13 14:55] pelsasser opened #3 "push more code into libraries"
users may be deploying several contracts and in order to both reduce gas costs and ensure integrity / re usability of underlying code we should utilize as much library code as possible.

[2017-12-04 17:40] #3 closed

[2017-12-04 17:41] #1 closed

[2017-12-04 17:41] #2 closed

[2017-12-04 17:50] pelsasser opened #4 "Finish needed tests for MarketContractOraclize"
Basic tests have been written but need to be extended to cover the following scenarios

- attempt to overfill (fill a maker order with more qty than the order is for acting as a taker) an order
should fail only allowing remaining qty to be filled
- attempt to over cancel (cancel more qty than order has available to fill)
should fail only allowing remaining qty to be cancelled
- attempt to fill exp

[2017-12-04 23:45] perfectmak commented on #4
I would like to jump on this if no one else is already working on it.

[2017-12-05 06:27] cryptomental commented on #4
Cool, I would also like to dive in. @perfectmak feel free to start and finish. I will have a look in the evening to set up dev environment anyway.

[2017-12-05 15:32] pelsasser commented on #4
Thanks for the interest in the project and bounty @perfectmak and @cryptomental!  Please let me know if you have any questions getting the tests running.

[2017-12-05 21:03] cryptomental commented on #4
Hi @pelsasser it took me about an hour to go through the initial setup as I had colliding nodejs's. Finally I ended up dockerizing the ethereum bridge thing (partially for now) and hurray

[code]

Once I finish with this task I will try to clean up the dockerfiles and submit a separate PR. Having dockerized test harness would allow everyone to have a clean test environment. The idea would be that

[2017-12-05 22:15] pelsasser commented on #4
@cryptomental - thank you, this is great.  I have not personally used docker, so will be excited to get it set up and try it out.  Sorry that the set up was a pain.  I am also running this on Ubuntu 16.04.

[2017-12-05 22:38] craig-iam-smith commented on #4
I am unfamiliar wth gitcoin and the process of how this works,  I jumped in and 'claimed', I am happy to share with others.  I have already coded 4 of the 7 tests.

[2017-12-06 04:00] perfectmak commented on #4
@pelsasser I just submitted a PR for the tests on this issue. Kindly take a look and revert. I'll be looking forward to your feedback.

[2017-12-06 04:01] perfectmak commented on #4
@cryptomental  Great idea with adding Docker. It would make it easier to setup and test.

[2017-12-06 17:30] pelsasser commented on #4
Thanks so much for the help everyone, I am closing this issue - there are many more tests to be written and work to be done.  I will try and create some more issues to get the ball rolling on them.

[2017-12-06 17:30] #4 closed

[2017-12-06 18:00] pelsasser opened #7 "set up docker environment"

[2017-12-06 18:12] pelsasser commented on #4
@cryptomental - I opened a new issues for the docker container you mentioned #7

[2017-12-06 18:15] DeathCamel57 commented on #7
I'll work on this

[2017-12-06 18:19] pelsasser commented on #7
@DeathCamel57 - thanks! @cryptomental may have already started the process if you take a look at the thread for #4

[2017-12-06 18:21] DeathCamel57 commented on #7
@pelsasser, I don't see any forks that he is working on on his profile page. Any input @cryptomental?

[2017-12-06 18:24] pelsasser opened #8 "create tests to ensure fee's are distributed correctly to feeRecipient when trade occurs."
when

`    function tradeOrder(
        address[3] orderAddresses,
        uint[5] unsignedOrderValues,
        int orderQty,
        int qtyToFill,
        uint8 v,
        bytes32 r,
        bytes32 s
    )`
is called in the MarketContract, for an order with fee's specified, tests need to be built out to ensure the correct qty of MKT tokens are sent to the <feeRecipient> based on the qty that of

[2017-12-06 18:31] pelsasser opened #9 "contract settlement tests"
after a contract has entered settlement and a settlement price has been queried, users should be able to call `MarketCollateralPool.closeAndSettle()`  which should close out any remaining open positions and return any remaining collateral to their accounts.

A call to `MarketCollateralPool.closeAndSettle()`  prior to expiration should fail, and have no affect.

[2017-12-06 20:38] cryptomental commented on #7
Hi, my last two days were busy, I think 'hectic' is a correct word. I can have a look at this tomorrow, but feel free to start today if you have time. The difficult part is to synchronize docker-compose to start truffle in dev mode, wait until it is fully initialized then eth-bridge, then migration and tests can start. You can as well start with truffle dev and eth-bridge, and run tests manually.

[2017-12-06 21:21] pelsasser opened #10 "create FAQ and WIKI"

[2017-12-06 22:01] pelsasser commented on #9
tests should include

- attempting to trade post settlement should fail
- cancelling an order post settlement should fail
- contract creator should be able to reclaim any ether balance remaining in contract that was provided to fund gas costs of queries
- `MarketCollateralPool.closeAndSettle()` should resolve all open posisions correclty allowing caller to withdraw correct amount of collateral bas

[2017-12-07 03:45] TheLucasMoore commented on #9
Hey @pelsasser, I'd love to take a look at this.

[2017-12-07 12:33] pelsasser commented on #9
@TheLucasMoore great - thanks for the interest in the project!

[2017-12-07 13:50] pelsasser opened #12 "consider changing requirements for users to pre-commit collateral for trading."
Open to discussion!

**Pros of pre committing collateral**
- Order book hosts can monitor only the MarketCollateralPool contract to ensure sufficient balance for resting orders
- less external calls during tradeOrder call

**Cons**
- order book hosts will have to monitor each address to ensure orders still have sufficient balance behind them
- users are surrendering control of their tokens

[2017-12-08 00:25] TheLucasMoore commented on #9
I've got the test suite running locally and am working on covering all those points 🤓 👍

[2017-12-08 17:12] #7 closed

[2017-12-08 22:11] perfectmak commented on #12
Quick question, how does preventing pre-commit of collateral lead to less external calls during tradeOrder?

[2017-12-08 22:17] pelsasser commented on #12
If the collateral token has already been deposited to the collateral contract prior to a trade we are just doing some account moving the balance from
` mapping(address => uint) public userAddressToAccountBalance; ` to the
`collateralPoolBalance`

Otherwise, when the `traderOrder` call is made, we have to transfer the balance from the user's external address to the ` collateralPoolBalance `

[2017-12-08 22:32] perfectmak commented on #12
Okay, but maybe I'm missing something. If the collateral token is not pre-commited, that means we would have to transfer it from the users external address to the collateral pool before performing the trade when `tradeOrder()` is called, right?

Doesn't that mean we are making more external calls? and therefore isn't a **pro** of preventing pre-commiting of collateral?

[2017-12-08 22:41] pelsasser commented on #12
@perfectmak - edited and clarified my original comment - hopefully that helps

[2017-12-12 10:02] perfectmak commented on #9
@TheLucasMoore Do you currently have some work done, perhaps you can push that, so someone else can continue from where you stopped or else I'll take a look at this later in the day.

[2017-12-12 12:34] cryptomental opened #15 "Out of gas during coverage test run."
I keep getting the error during solidity-coverage run:

[code]

I believe that the coverage numbers are messed up due to this error. I tried many different settings, currently ended up with .solcover set no norpc:true and running coverage the same way as zeppelin-solidity project.

[code]
and still no luck.

It would be great to know where exactly the error shows up and why it happens.

[2017-12-12 12:42] cryptomental commented on #8
I will have a look at this one today.

[2017-12-12 13:19] cryptomental commented on #9
Hi @perfectmak , perhaps you could also have a look at https://github.com/MarketProject/MarketProtocol/issues/15 ?

I cannot get the coverage to work for some reason. Is it working for you?
Only with the coverage enabled it makes sense to develop/design more test cases.

[2017-12-12 21:53] cryptomental opened #16 "MarketContractOraclize test cases depend on previous tests"
Test environment is not cleaned after test case. I suspect that a proper tear down (afterEach) is needed to selfdestruct contracts or they should be redeployed / recreated in beforeEach as deployed() just checks that the contracts were deployed.

Symptom: copy the first test case and give it another name, then run `truffle test test/MarketContractOraclize.js`. Only the first test case passes

Exam

[2017-12-12 21:54] cryptomental commented on #10
This is very much needed for anyone that would like to contribute.

[2017-12-12 21:57] cryptomental opened #17 "Add a readme on how to debug failing testrpc test cases."
I have used console.log() but perhaps there is a better way... adding --verbose-rpc shows json of the rpc call but does not show the source code where the call came from.

[2017-12-13 02:31] perfectmak commented on #15
@cryptomental I'm not even able to get solidity-coverage to run on my local machine cos of a different error while Instrumenting the coverage environment.
I'm not sure why you get your error message but If I come up with anything, I'll let you know.

Somethings that come off my mind is: Are you sure the coverage network you are using for test coverage is properly setup and all migrations are run?

[2017-12-13 08:05] cryptomental commented on #15
@perfectmak the instrumentation should work once you add `copyPackages: ['zeppelin-solidity']`  to .solcover ,see above. I tried to run the coverage against your ethereum-bridge network but it fails with 'out of gas' error. The maximum gas limit that I could increase for the bridge was from 3000000 to 4700000 I am not sure about number of zero's now but it still fails. So indeed the coverage may r

[2017-12-14 02:30] TheLucasMoore commented on #9
@perfectmak Nothing to push besides the initial test of `settleAndClose()` failing unless `MKT_CONTRACT.isSettled();` Go ahead and work on it and I'd be interested in helping you out if you need some more eyes on something.

[2017-12-14 09:14] cryptomental commented on #15
I have now a proper set up with patched ethereum-bridge that allows more than 4700000 gas : https://github.com/cryptomental/ethereum-bridge-coverage but still during coverage run  `out of gas` is thrown.

Yesterday I experimented a bit and ended up adding debugs into EVM core. This is what happens:

[code]

The large transaction that I paste with EVM debugs as an attachment eats up all the gas. Th

[2017-12-14 09:24] cryptomental commented on #15
What is hard to understand happens here:

eth_sendTransaction

[code]

Gas usage for transaction 0xa29162ba890cf53d7b831e98b4daa0f003e41b5c29e5b3939205f50cdbebf444 was 1253790

This is the full 'transaction receipt' dump from EVM:

[code]

Then eth_accounts is called (perhaps one of the calls to deployed() ??)

[code]

after that call the next transaction cost is a whooping 0x5d1420 (6100000) whic

[2017-12-19 00:01] perfectmak commented on #12
Yes @pelsasser, It is clear now.

I  believe pre-committing collateral to the CollateralPool will make it easier to ensure a trade if possible.
Because without pre-committing, the balance monitoring system would still need to perform some sort of lock (or capture) on the balances of the addresses involved before fulfiling an order; so why not just pre-commit them from the beginning?

[2017-12-20 11:40] owocki commented on #9
@TheLucasMoore could you claim the issue on https://gitcoin.co/funding/details?url=https://github.com/MarketProject/MarketProtocol/issues/9 ? i just dont want others to improperly assume this issue is open :P

[2017-12-21 02:09] owocki commented on #9
@TheLucasMoore hows it going?  no pressure; just checking in

[2017-12-26 22:35] pelsasser commented on #16
thanks @cryptomental  - I will attempt to reproduce and figure out what is going on here.  I am just getting back from vacation, apologize for the delay.

[2017-12-27 21:14] pelsasser commented on #10
the FAQ is greatly updated - feel free to ask anything here that you think should be added.

[2017-12-27 22:33] owocki commented on #9
@perfectmak are you still interested in this?  please comment and let @pelsasser know what your implementation plan is

[2017-12-28 17:07] pelsasser commented on #16
@cryptomental when you say give it a new name, are you saying the file name or the contract function call as in

`contract('MarketContractOraclize', function(accounts) {...}`

`contract('MarketContractOraclize2', function(accounts) {...}`

From the truffle docs

[2017-12-28 17:18] pelsasser commented on #16
I am having trouble reproducing this, I copied the
`contract('MarketContractOraclize', function(accounts) {...}`
call in the same file and ran the tests.  Output is below.

[2017-12-28 18:19] pelsasser commented on #15
@cryptomental there is a hard coded gas limit in 2_deploy_contracts.js file -  but I am having trouble getting to the same errors that you guys are seeing.

Currently stuck here while trying to run `./node_modules/.bin/solidity-coverage`

My .solcover.js looks like this currently

[2017-12-28 19:20] cryptomental commented on #10
Thank you @pelsasser ,  I will have a look today.

[2017-12-28 23:06] cryptomental commented on #15
@pelsasser I hope this will make your life a bit easier:

[code]

I got there so far. Coverage run currently fails with `Error: base fee exceeds gas limit`

[2017-12-29 07:51] cryptomental commented on #16
Hi @pelsasser , I meant copying the test case within the same contract.

Perhaps your approach is right, to create new contract() wrappers for each group of tests that should be independent from each other.

[2017-12-29 07:52] cryptomental commented on #15
By the way - the coverage.sh script was borrowed from zeppelin-solidity repository.

[2017-12-29 07:54] cryptomental commented on #10
It is a good start. I would like to see there a step by step tutorial for two simple MarketProtocol use cases that use oraclize.

[2017-12-29 15:37] pelsasser commented on #16
@cryptomental - got it.

Good with me closing this issue?

[2017-12-29 17:01] pelsasser commented on #10
@cryptomental - sounds good, I will add an use case example or two in there.

[2017-12-29 17:43] pelsasser commented on #15
@cryptomental thanks! So I ran this, and got the same error -

If I then change the gas in the `2_deploy_contracts.js` arbitrarily higher to 6800000 - I see the following - which I believe is the failure of the contract deployment because their isn't an ethereum bridge running for the oraclize api to connect to in the test environment that it is running in, but I am not yet sure how to determine t

[2017-12-29 20:18] cryptomental commented on #15
If I remember correctly I patched eth bridge to accept higher gas values, https://github.com/cryptomental/ethereum-bridge-coverage/commit/e7c44e946567bcb386f1c6c53335c725cacc497e

I will try to have a look today and see if running this helps.

[2017-12-29 21:03] cryptomental commented on #15
Great success ! :-)

I believe these are the correct coverage numbers:

[code]

In addition to the steps above I patched 2_deploy_contracts.js as you did and got revert error.

Then I checked out patched eth bridge and connected it to the testrpc running on 8555:

https://github.com/cryptomental/MarketProtocol/commit/7b3a39021b0c9ff22460fd56c6bd4c886b72db2d

I got a few filter warnings on the way,

[2017-12-29 21:16] pelsasser opened #18 "Integrate coverage into Travis"
Update Travis CI to allow coverage to be ran for testing.

See #15 for solution to get coverage running with Oraclize bridge.

[2017-12-29 21:22] pelsasser commented on #15
nice work @cryptomental and @perfectmak - opening a new issue (#18) to get the changes to travis completed as suggested by @cryptomental

[2017-12-29 21:22] #15 closed

[2017-12-30 15:37] mkosowsk commented on #18
Claimed this ticket as it looks interesting and have a bit of time this Saturday to dive into something :)

If I'm not making good progress on the ticket by end-of-day, I will release myself (or ask to be released, I'm not sure what the protocol is). Thanks!

[2017-12-30 15:43] pelsasser commented on #18
Thanks for the interest in the project!

On Sat, Dec 30, 2017 at 8:37 AM, mkosowsk <notifications@github.com> wrote:

[2017-12-30 16:22] mkosowsk commented on #18
Hello, unfortunately something's come up so I won't be able to take a look at this today. This project looks very interesting and will be following it closely!

Please release me from the ticket.

[2017-12-30 16:32] #16 closed

[2017-12-30 16:34] pelsasser commented on #18
@gitcoinbot - how do I release Mitch from the claim? (@owocki can I ask this thing questions?)

@mkosowsk sounds good!

[2017-12-30 16:36] pelsasser commented on #8
#16 has been resolved, so I think we can move forward with this.

[2017-12-30 21:09] cryptomental commented on #16
Yes, that was fine to close this one.

[2017-12-31 23:52] owocki commented on #18
@pelsasser gitcoinbot is not quite sentient.  best to cc me if you have questions (for now).

you can reject a claim via https://gitcoin.co/funding/details?url=https://github.com/MarketProject/MarketProtocol/issues/18 (make sure you are logged into metamask as the user who submitted the bounty).  click 'accept/reject'

[2018-01-01 22:01] pelsasser commented on #18
thanks @owocki - that be a pretty sweet bot if it was ;)

Appreciate the help!

[2018-01-02 07:52] cryptomental commented on #9
If there is no response I will be happy to pick that one up after I finish with #8 .

[2018-01-02 08:01] cryptomental commented on #18
Hi, I claimed that one.

Currently tests start two docker containers, one with truffle and other with the eth bridge. Coverage needs eth bridge with increased gas limit and 'coverage' network with cheap gas and testrpc with max gas allowed. The plan therefore is to:

* push patched eth bridge container to docker hub
* configure coverage network in truffle.js
* configure docker-compose to start cov

[2018-01-02 08:32] cryptomental commented on #15
Hi @pelsasser the tip did not arrive due to Gitcoin hiccup, I guess Kevin from Gitcoin contacted you already;)

[2018-01-02 14:08] pelsasser commented on #15
@cryptomental yes, kevin let me know.  Can you send your ethereum address to phil@marketprotocol.io and I will just send the tip directly?

[2018-01-02 16:34] owocki commented on #18
looking forward to seeing this get done.  👋  hi @cryptomental !

[2018-01-04 19:15] #12 closed

[2018-01-05 07:51] perfectmak commented on #9
@cryptomental, I'll be submitting a PR for this today.

[2018-01-05 15:10] pelsasser commented on #9
@perfectmak - thanks!

[2018-01-06 15:39] #18 closed

[2018-01-06 16:02] pelsasser opened #20 "add coveralls"

[2018-01-06 16:26] pelsasser commented on #20
fix non working badge issues

[2018-01-06 17:30] #20 closed

[2018-01-06 17:37] pelsasser opened #21 "scripts/coverage_run.sh environment variables doesn't seem to be set when using travis"
From what I can tell the CI environment variable in this script is never set correctly so coverage isn't getting reported.  @cryptomental - Can you help me understand where you intended to set this up and I can add it?

[code]

[2018-01-06 21:20] cryptomental commented on #21
Yes, it just needs to be set up in .env or passed to environment from docker-compose.yml. I will be happy to help.

[2018-01-07 00:49] pelsasser commented on #21
thanks @cryptomental will see if I can get it working.

[2018-01-07 15:06] pelsasser commented on #21
https://github.com/MarketProject/MarketProtocol/blob/b8b4e0cbfd91a48635ae16d8f15c830190c665da/.travis.yml#L11

`cat coverage/lcov.info | node_modules/.bin/coveralls
`
still not getting called

[2018-01-08 12:20] cryptomental commented on #8
I will start today.

[2018-01-08 14:48] #9 closed

[2018-01-08 15:26] #21 closed

[2018-01-08 15:33] pelsasser opened #25 "fail safe implementations for oracles"
Some possible scenarios that can possibly leave a contract in a bad state.

- Bad data from oracle
- Running out of gas to fund needed oracle queries and callbacks

While any user is able to pay for an on demand query and the associated gas costs for that via

`    function requestEarlySettlement() external payable;`

We need to create some escape hatches in the short term and then think about the

[2018-01-08 15:34] pelsasser opened #26 "bring test coverage as close to 100% as possible"

[2018-01-08 16:46] cryptomental commented on #26
I propose to split this issue into contracts e.g. bring x.sol to 100%,  y.sol to 100% to make it manageable.
I will start with bringing MathLib.sol to 100%.

[2018-01-08 16:58] pelsasser opened #27 "bring test coverage for MathLib.sol to 100%"

[2018-01-08 16:59] pelsasser opened #28 "bring test coverage for MarketCollateralPool.sol to 100%"

[2018-01-08 17:00] pelsasser opened #29 "bring test coverage for MarketContract.sol to 100%"

[2018-01-08 17:00] pelsasser opened #30 "bring test coverage for MarketContractOraclize.sol to 100%"

[2018-01-08 17:01] pelsasser commented on #26
good proposal! added the #27 #28 #29 #30

[2018-01-08 17:01] #26 closed

[2018-01-09 17:53] pelsasser commented on #27
close #31 killed!

thanks @cryptomental

[2018-01-09 19:18] cryptomental commented on #27
You can close this, there is no way that we can programatically trigger the three remaining asserts. They can only by triggered when the solidity compiler is corrupted, so the asserts are there  to stay but will never be covered by tests. The statements, functions and lines coverage is 100%.

[2018-01-09 19:44] cryptomental commented on #18
@owocki the PR was accepted, the issue was resolved, transaction was transferred but somehow the gitcoin status of the https://gitcoin.co/funding/details?url=https://github.com/MarketProject/MarketProtocol/issues/18 is still 'claimed' instead of 'fulfilled'.

[2018-01-09 23:02] vs77bb commented on #18
@cryptomental To confirm, you did get paid? I joined @owocki on the Gitcoin squad and will make sure this one stays on the radar

[2018-01-10 00:46] owocki commented on #18
gitcoin has been updated.. thanks @vs77bb @cryptomental

[2018-01-10 07:57] cryptomental commented on #18
@vs77bb @owocki yes, I confirm. Thanks for the prompt reply!

[2018-01-10 16:10] pelsasser commented on #27
@cryptomental thanks! closing now

[2018-01-10 16:10] #27 closed

[2018-01-10 16:16] pelsasser opened #33 "Create docker image for MarketProject/ethereum-bridge for docker-compose.yml"
Both of the following should be updated to the forked ethereum-bridge in MarketProject

https://github.com/MarketProject/MarketProtocol/blob/9dc650ed229f19e0df9bda2c06919d127ca18e32/docker-compose.yml#L43

https://github.com/MarketProject/MarketProtocol/blob/9dc650ed229f19e0df9bda2c06919d127ca18e32/docker-compose.yml#L19

[2018-01-10 18:19] craig-iam-smith commented on #28
I'd like to take this one.

[2018-01-10 18:58] pelsasser commented on #28
@craig-iam-smith - nice thanks!

[2018-01-10 21:45] cryptomental commented on #33
I  will pick it up tomorrow.

[2018-01-11 08:23] cryptomental commented on #33
Actually I cannot do it. It has to be someone, likely @pelsasser , who created marketprotocol user in docker hub. The steps are as usual: docker login, docker build, docker tag, docker push, then change Dockerfile, test locally, open a pull request.

[2018-01-11 14:49] pelsasser commented on #33
@cryptomental sounds good, will try and get to this today.

[2018-01-12 14:52] cryptomental commented on #30
This is related to #8, perhaps I will find some time over the weekend, if not I will continue on Monday.

[2018-01-12 15:11] pelsasser commented on #33
@cryptomental - thanks for the help on this - all set.

[2018-01-12 15:11] #33 closed

[2018-01-12 17:08] pelsasser opened #37 "remove redundant require statements"
Some of the math libs will take care of the balance checks and we should just comment out the some of the checks in MarketCollateralPool.sol

[2018-01-12 22:57] pelsasser commented on #8
@cryptomental - I discovered a bug with is now fixed in #38

but essentially the scenario where the order.taker isn't specified (allowing anyone to fill the order) would have created an issue.   This commit I think fixes it https://github.com/MarketProject/MarketProtocol/pull/38/commits/74e5fd4201ce14f0276aaf6859f57f859145824c

[2018-01-12 22:58] #37 closed

[2018-01-16 00:09] #28 closed

[2018-01-16 20:17] pelsasser commented on #8
@cryptomental - how is this going? - adding some funding to help you get it done :)

[2018-01-16 20:42] cryptomental commented on #8
Ok, I claimed it! I will try to open a pull request by tomorrow EOD.

[2018-01-17 22:55] cryptomental commented on #8
I need to add a few debug logs to see what is going on in my example test. The best would be to dump contract events on the fly to the console as soon as they are available. I am not sure that I am unwinding the trade correctly. Currently the collateral does not return from the pool, see 'wip' code https://github.com/cryptomental/MarketProtocol/blob/79e3267d65f259663fb3011aa6fc9dd289fdb24b/test/Ma

[2018-01-18 13:41] pelsasser commented on #8
@cryptomental - just looking through the code you posted.

So what I see is that the first trade occurs, both parties enter into the trade.  Then you attempt to cancel the remaining qty in the maker order.  But I don't see a second trade that is "uwinding" or exiting their positions.

Cancelling an open order that has already been filled will not exit a position once it has been entered, the count

[2018-01-18 14:17] cryptomental commented on #8
@pelsasser yes, that makes sense! Thank you for the explanation.

[2018-01-21 14:14] pelsasser opened #40 "create events for contracts being added / removed from contracts/MarketContractRegistry.sol"
Contract explorer Dapp may listen to them to update users to newly listed contracts, etc

[2018-01-22 22:03] #8 closed

[2018-01-23 09:27] perfectmak commented on #40
I should be able to work on this. @pelsasser

[2018-01-23 12:25] pelsasser commented on #40
thanks @perfectmak - should be a quick one.

[2018-01-23 23:08] #40 closed

[2018-01-26 20:22] pelsasser opened #44 "[spike] Standardized contract naming protocol"
It may be helpful to attempt and create a standardized naming protocol for contracts similar to how financial futures are named.  This may not be fully all encompassing, and certainly people could opt out, but it would allow for easy search, indexing, etc of contracts.

[2018-01-27 13:34] pelsasser commented on #10
this is getting moved to docs.marketprotocol.io so am closing this here

[2018-01-27 13:34] #10 closed

[2018-02-13 13:11] pelsasser opened #48 "Dynamic Query Costs when using Oraclize.it"
Currently, we have some hard coded [variables](https://github.com/MarketProject/MarketProtocol/blob/f6d83764e3e60ac2f6468de2e373d566f9dbac2b/contracts/oraclize/MarketContractOraclize.sol#L34) in order to ensure sufficient funding by the contract creator for the required numbers of queries they have created in the contract.  This is less than ideal because

- Wolfram Alpha Queries cost 3x URL queri

[2018-02-13 13:20] pelsasser opened #49 "Gas Optimizations For Deploying Contracts"
This is a pretty broad issue, but there are probably places we may be able to optimize gas usage in order to reduce the deployment costs of all the needed contracts.  We should create a bounty payable by the reduction achieved.

[2018-02-13 13:51] pelsasser commented on #48
Another thought - perhaps this doesn't really need to be in the protocol / on chain at all.  The dApp for deployment can enforce the requirements in a nicer way.

[2018-02-14 01:18] pelsasser opened #50 "Determine maximum possible gas amount for _callback"
Oraclize.it requires users to correctly estimate the gas costs of their `_callback()` functions.  See [here for Oraclize.it docs](http://docs.oraclize.it/#ethereum-quick-start-custom-gas-limit-and-gas-price)

https://github.com/MarketProject/MarketProtocol/blob/f6d83764e3e60ac2f6468de2e373d566f9dbac2b/contracts/oraclize/MarketContractOraclize.sol#L110

Currently we are setting the query callback g

[2018-02-16 12:04] cryptomental commented on #50
Let me do a research and let's tackle this one ;-)

[2018-02-16 13:15] perfectmak commented on #50
Yes, this is an interesting one @cryptomental.
I'll be looking forward to your solution. I'll also let you know about some
of my findings, when I get time to look into this issue too.

[2018-02-16 13:56] Alexintosh commented on #50
Will use `solc --gas` be enough find the most expensive code path?

[2018-02-16 14:11] cryptomental commented on #50
The most exhaustive resource on the subject that I have found so far is https://cristian.io/post/estimate-gas/  and I believe the recipe provided there on how to estimate gas using Oraclize is the correct one.

[2018-02-16 15:17] cryptomental commented on #50
I will dive into this more today evening / Saturday and report my findings back.

[2018-02-16 16:23] Alexintosh commented on #50
Thanks @cryptomental, awesome resource.

[2018-02-17 22:34] cryptomental commented on #50
@pelsasser @perfectmak @Alexintosh

I followed the recipe described at https://cristian.io/post/estimate-gas/

If you have a look at https://github.com/cryptomental/MarketProtocol/commit/836419bf65b4347737c2df388d80b864878f318e
I extracted callback contents into a separate `oraclizeCallback() ` method and added `estimateCostOfOraclizeCallback()` which could potentially be used to estimate gas for

[2018-02-19 12:28] pelsasser commented on #50
Thanks for the hard work guys.  Yea I don't think adding additional function calls to the contract makes sense, we don't need it to be deployed with every contract, rather tested when we make updates to the code path and then set as a constant for the current version of the contract.

Will be able to dive in more later this week when things slow down a bit on my end.

[2018-02-21 20:25] vs77bb commented on #50
Hi guys @gitcoinbot might have accidentally reopened this one... sorry for the bug on our end. @cryptomental want to pick it back up by clicking Start Work? Looks like this one might be on hold for a bit, though. cc @pelsasser @owocki

[2018-02-22 02:41] pelsasser commented on #50
@cryptomental - I took a look at the code a little here. A few things to note.

I believe the needed gas amount should still be static - it shouldn't change in the lifecycle of the contract.  It should really only change, if we change the code path that leads to a callback triggering settlement.  Once deployed, the owner shouldn't need to change it.

We should be able to just create a test in web3

[2018-02-23 15:34] cryptomental commented on #50
I am "almost there"

[code]

Last missing piece of the puzzle for me is to figure out how to wait until ContractSettled is fired and assert if error is thrown, currently the test case finishes too early.

[2018-02-23 15:44] pelsasser commented on #50
@cryptomental awesome work buddy! thanks so much

[2018-02-23 19:33] cryptomental commented on #50
@pelsasser I finally got it right ;)

https://travis-ci.org/cryptomental/MarketProtocol/builds/345393956?utm_source=github_status&utm_medium=notification

Currently URL Oraclize callback takes on average 136520 gas on coverage network and  114199 gas on development network. To be on a safe side we could try to set QUERY_CALLBACK_GAS to 150000 which is 50% of the current callback cost.

The test ca

[2018-02-23 21:39] pelsasser commented on #50
@cryptomental wow thanks! that is a significant savings for deployment, especially if people create longer dated contracts.

I will take a look at the PR this weekend at the latest.

In the back of my mind I want to think a little about the gas price we are setting as well.  That is a little trickier because it does need to be dynamic as the network fluctuates.   Currently Oraclize sets it to 20 g

[2018-02-24 00:31] pelsasser commented on #50
@cryptomental - not sure it will let you submit work since the bounty is expired. just DM me your address and I will get you ETH.

[2018-02-24 00:31] #50 closed

[2018-02-27 00:36] owocki commented on #50
sorry fellas, this is something we're looking to improve; tracking it here => https://github.com/ConsenSys/StandardBounties/issues/25

[2018-03-02 16:15] pelsasser opened #52 "Allow for dynamic setting of Oraclize gas prices for callback"
Currently, these are set at 20 gwei which is the default from Oraclize.it - in times of network stress we may need to allow the contract creator to increase these in order for the contract to be forced in to settlement.

This needs to be thought about carefully, as it is possible a contract creator will not care to push the contract into settlement.  Potentially the MKT token contract could be the

[2018-03-06 03:06] pelsasser opened #53 "Remove funding checks upon contract creation which can be done off chain"
Once https://github.com/MARKETProtocol/Dapp/issues/37 is resolved we can remove the checks and associated variables that are used [here](https://github.com/MARKETProtocol/MARKETProtocol/blob/e8f868c3f7f6d8cff0a8b7abf70a18558f80df82/contracts/oraclize/MarketContractOraclize.sol#L158) that ensure the contract creator has supplied sufficient funding.

In the future it is possible all recursive querie

[2018-03-07 07:45] #53 closed

[2018-03-07 11:34] cryptomental commented on #53
Resolved in 0.0.14

[2018-03-07 11:38] pelsasser commented on #49
One possible solution - if we deployed a single `QueryContract` that housed all of the oraclize API functionality, a deployed smart contract would then make a call to it on creation, and the `QueryContract` could call that contract back upon the query being completed.  This may or may not save significant gas as the `QueryContract` could be deployed once for all of the smart contracts.

any though

[2018-03-08 06:39] pelsasser commented on #49
@cryptomental @perfectmak @eswarasai check out the [query_hub](https://github.com/MARKETProtocol/MARKETProtocol/tree/query_hub) branch.  This needs some more thought, cleanup, testing, etc but reduces deployment costs to the contract deployer by roughly 40% - I think there are more savings to be had, but decided to try this on the flight to singapore.  Will keep working on this over the weekend.

[2018-03-11 13:01] pelsasser commented on #50
@cryptomental - I totally led you astray here - turns out the most expensive code path is NOT settlement.  Getting some fixes in place now

[2018-03-12 18:19] rspurgeon opened #56 "Bootstrapping new environment, import not found in MarketCollateralPool.sol"
Following instructions in the MARKETProtocol README: https://github.com/MARKETProtocol/MARKETProtocol

From the truffle prompt:

[code]

The zeppelin-solidity module listing shows the below which doesn't appear to match the import statement in CollateralToken.sol:24

[code]

npm view shows:
` dependencies: { truffle: '^4.0.1', 'zeppelin-solidity': '^1.5.0' },`

[2018-03-12 22:05] pelsasser commented on #56
@rspurgeon looks like 'zeppelin-solidity' has update their package structure.  Shows me, I guess I should have been explicit in the npm version ;) .  I will address this today.  Thanks for the heads up!

[2018-03-12 22:24] pelsasser commented on #56
@rspurgeon try pulling now, and then `npm install` and see where you end up - I think this should be good now.

[2018-03-12 23:10] rspurgeon commented on #56
I can get past the previous step, but I'm getting the below errors in the the testing system.

[code]

[2018-03-13 01:57] pelsasser commented on #56
@rspurgeon I think this is due to an older version of node and it not supporting async functions.

What version are you running?

[code]

[2018-03-13 13:45] rspurgeon commented on #56
Yes, i'm wayy out of date (Centos is good like that).  I'll upgrade and try again

[2018-03-13 14:04] rspurgeon commented on #56
For safe keeping for anyone having issues upgrading node from earlier versions on Centos.
https://github.com/nodesource/distributions/issues/191

[2018-03-13 23:27] pelsasser commented on #56
@rspurgeon let me know how it goes once you updated.

[2018-03-14 01:59] rspurgeon commented on #56
I haven't been able to re-test on the Centos host yet, but tests pass on the Mac 'out of the box'

[2018-03-18 08:27] pelsasser commented on #56
@rspurgeon can I close this? any pending problems?

[2018-03-18 09:18] pelsasser opened #57 "Remove need for recursive queries from Oraclize.it"
## Overview
MarketContractOraclize.sol currently sets up oraclize.it queries recursively to check for a price that will push the contract into settlement either due to a price band being breached or the timestamp being past the expiration date of the contract.

Although this process is outlined in the oraclize.it documentation - they are warning against this mechanism.  The cost of the query from

[2018-03-18 18:40] cryptomental commented on #57
The solution steps needed to achieve the goal are clear. I will start implementation on Monday.

[2018-03-19 01:17] #56 closed

[2018-03-19 05:24] maektwain commented on #57
@cryptomental would like to help you in any case to have an understanding of workings of the Smart Contract as well as development experience.

[2018-03-19 13:10] cryptomental commented on #57
Hi @maektwain , sure I will contact you in case it takes me too long. You may also want to jump in the bounty https://github.com/MARKETProtocol/Dapp/issues/61 as it looks like it has been inactive for a while and we need help there. Just comment there if you would like to pick it up. Imho adding tests is a good way to learn the project internals.

[2018-03-20 12:40] cryptomental commented on #57
@pelsasser PR submitted and waiting for the review.

[2018-03-22 15:51] #57 closed

[2018-03-26 10:56] cryptomental commented on #17
PR opened: https://github.com/MARKETProtocol/Docs/pull/2

[2018-03-26 12:49] cryptomental commented on #25
After dropping pre-funding, option 2) is no longer valid. The only option to end the contract before expiration is at requestEarlySettlement().

In case of bad data from Oracle:

* after requestEarlySettlement()
* at expiration time

The latter scenario has known timestamp and it should be possible to query Oracle again with this timestamp to get historic price on which the contract can be correct

[2018-03-26 13:08] cryptomental commented on #30
This can be closed now.

[2018-03-26 13:35] cryptomental commented on #48
If I understood correctly, this should be possible with QueryHub contract.

[2018-03-27 00:13] #29 closed

[2018-03-27 09:27] #17 closed

[2018-03-27 09:27] #30 closed

[2018-03-29 08:19] cryptomental commented on #44
@pelsasser I believe you are experts in that field but I had some thought on this.

I would propose a standardized name that would consist of four fields:

A three letter acronym of the data source, e.g.:

[code]

A security Symbol: e.g.
[code]

Base Token Symbol, e.g.
[code]

Contract expiration, a UNIX timestamp, e.g. `1522361058`.

The full examples would be:

[code]

Using this approach, the c

[2018-03-29 11:20] pelsasser commented on #44
I like this idea a lot.  It is pretty in line with the ideas around this that I had previously.  There are always going to be some outliers that fall outside of the "convention" which makes it a bit more challenging, but some standardization is better than none.

One other important piece of the contract would be the `PRICE_CAP` and `PRICE_FLOOR`.  If we look at traditional [options markets](https

[2018-03-29 11:49] cryptomental commented on #44
I also thought about after I submitted the proposal. I think it makes sense to add those, too.

[2018-04-01 08:45] pelsasser commented on #25
https://blog.ethereum.org/2014/03/28/schellingcoin-a-minimal-trust-universal-data-feed/

I think something like this would prove very useful for arbitration - also looking at projects like Kleros

[2018-04-09 09:38] maektwain commented on #52
Would like to work on this issue. @pelsasser I can research a little bit about dynamic fee setting.

[2018-04-10 01:51] pelsasser commented on #52
@maektwain - with the current implementation this may actually not be possible.  It will be dependent upon oraclize.it

Some background -

Oraclize.it currently set the default gas price for the callback from them at 20 gwei.  This is typically a very high amount and the transactions get processed very quickly. However in times of network congestion this could mean that a callback to settle the co

[2018-04-13 12:08] pelsasser opened #65 "[General] modify README.md to use makefile commands"

[2018-04-13 12:35] pelsasser opened #66 "[General] Add templates for issues and PRs"

[2018-04-16 15:41] pelsasser opened #67 "[Oraclize] Add require statements for all Oraclize Queries"
The Oraclize API has a sanity check around the price of the query that can be seen [here](https://github.com/MARKETProtocol/MARKETProtocol/blob/b9278d78a20a2e35e7a41b8ebd5e4a45bfd25e7d/contracts/oraclize/oraclizeAPI.sol#L140)

We should create error handling in the needed locations where queries are being scheduled.  Most likely a simply require(queryID != 0) should suffice.

[2018-04-24 13:28] pelsasser opened #69 "[Settlement] Create checks to ensure the settlement price isn't outside of the cap or floor price"
Currently we aren't checking this when we settle the contract and could end up with a settlement print outside of the range, which could lead to issues with returning collateral.

[2018-05-02 19:04] 0xean opened #71 "[Tests] standardize code style across all JavaScript tests."
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Currently we have some differing styles amount many of the .js test files and utilities for testing.  We should bring these in line with the standards of our other projects styles for readability and c

[2018-05-04 22:51] garyaka commented on #67
I am thinking that you may not want to change oraclizeAPI.sol file.
but have require (and you already have some ) statements in files where you are using them.
This is partially to be able to update oracliApi easily in the future.

[2018-05-08 16:08] garyaka opened #73 "Update oraclizeApi to 0.5 version which supports solidity 0.4.18"
### Why Is this Needed?
*Summary*:
Use more current version of the code to have functions have less errors.

*Type*:  Feature

### Solution
*Summary*: Update `oraclizeApi` to `0.5` version which supports solidity `0.4.18`

 Definition of Done
Replace current `oraclizeAPI` with the newer version. Test that none of the current code breaks and if it does, please do fix them.

## Before you `start wor

[2018-05-09 19:10] #66 closed

[2018-05-10 14:48] 42piratas opened #75 "Test"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-05-10 14:51] #75 closed

[2018-05-11 19:25] arun1595 commented on #71
@pelsasser I would like to fix this :smile:

[2018-05-11 19:35] pelsasser commented on #71
@arun1595 that would be incredible! thanks!  If you are gonna tackle it let me know, and I will mark it as such.  If we can create linting for the javascript sections of code that would be really helpful as well.

[2018-05-11 19:42] pelsasser commented on #71
All yours ;)

[2018-05-14 15:39] pelsasser opened #78 "[CI / Docker] Intermittent errors prevent successful builds"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-14 16:02] pelsasser commented on #78
@udms100 - glad you are helping us out and welcome to MARKET Protocol!

Please let me know if you have any questions I can help with

[2018-05-15 04:14] arun1595 commented on #71
@pelsasser As I am working on https://github.com/MARKETProtocol/dApp/issues/153, can you please remove the 'In Progress' label?

[2018-05-15 04:18] I3uckwheat commented on #71
I would like to work on this! Seems fun!

[2018-05-15 05:13] eswarasai commented on #71
@I3uckwheat -- Sure. Please do post a plan of action here before starting to work on it, so that we can suggest any changes, if at all any. Thanks for your interest in MARKET Protocol and helping us out here. Feel free to join our [Discord](https://marketprotocol.io/discord) channel in case you have any questions.

[2018-05-15 06:38] cryptomental commented on #73
I will have a look at this.

[2018-05-15 07:15] cryptomental commented on #78
I encountered today Travis timeout on Instrumenting  ./coverageEnv/contracts/tokens/UpgradeableTokenMock.sol

See https://travis-ci.org/MARKETProtocol/MARKETProtocol/builds/379074763

Can be added to the wishlist :)

[2018-05-15 10:53] cryptomental commented on #78
The last comment is obsolete now as I fixed the root cause, but I also added commit eb17096 to troubleshoot Oraclize connector on the coverage network.

[2018-05-15 13:49] cryptomental commented on #73
@pelsasser I am wondering which change caused test failures on coverage network - I will now cherry-pick  one by one and find the culprit.

[2018-05-15 16:32] I3uckwheat commented on #71
@eswarasai I am new to this project, and also new to joining into existing projects. Thanks for having me!

My plan of action is as follows:

- Run prettier to change all 4 space indentation to 2 space indentation
- Change any `require`s into `import` statements (as dApp seems to have)
- verify double quotes are changed to single quotes when possible
- setup eslint in compliance of the npm style g

[2018-05-15 16:46] eswarasai commented on #71
@I3uckwheat -- Sounds good to me. How about using [`prettier-eslint`](https://github.com/prettier/prettier-eslint)? Any thoughts on this?

PS: I've just realized that `.eslintrc` of `dApp` isn't up-to-date with the `prettier` setup we have configured. I might actually update the `dApp` to also use `prettier-eslint` once you give a go-ahead on this.

[2018-05-15 17:41] I3uckwheat commented on #71
I like the idea of it: however, I believe we should still maintain separate .prettierrc and .eslintrc.json files so people can use their in-editor linters if they'd like. I believe that package can import a filename for the configuration as well.

[2018-05-15 19:45] pelsasser commented on #73
@cryptomental - thanks for all your hard work!

[2018-05-15 22:11] I3uckwheat commented on #71
@eswarasai I opted to use `prettier-eslint-cli` instead, as it integrates easily with npm run

[2018-05-16 09:49] cryptomental commented on #78
Strangely after I added the commit I could not reproduce the issue.

[2018-05-16 10:50] cryptomental commented on #73
@pelsasser I also added a complete compiler warnings rework to this pull request.

[2018-05-16 12:23] #71 closed, assigned to nobody

[2018-05-16 15:11] pelsasser opened #81 "[Coverage] Issues with upgraded solidity versions and solidity-coverage"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-16 15:13] pelsasser commented on #73
closing! thanks @cryptomental

[2018-05-16 15:13] #73 closed

[2018-05-17 04:00] I3uckwheat commented on #65
I will do this

[2018-05-17 11:20] pelsasser commented on #65
thanks @I3uckwheat

[2018-05-17 11:20] #65 closed

[2018-05-17 12:32] cryptomental commented on #78
@pelsasser I submitted to work on Gitcoin, but had to increase the gas price (the network seems extremely congested), the transaction went through https://etherscan.io/tx/0xa0aeb7092b065c76a54cf07ad8c01a4fded4b0db5a67ba19914f342319fde640

[code]

but it was not recorded by GitCoin https://gitcoin.co/issue/MARKETProtocol/MARKETProtocol/78/432

[2018-05-17 12:36] cryptomental commented on #78
I reported this on Slack, perhaps they will help, otherwise the processing is stuck.

[2018-05-18 04:53] captnseagraves commented on #81
Hey Phil, is this issue still open? I'm an experienced solidity dev currently working in LA but from Boulder. I have some work I've done on Liquid Democracy on Github, but most of my recent work has been in private repos. Hoping you might have an open issue where I can demonstrate skills.

[2018-05-18 04:59] eswarasai commented on #81
@captnseagraves -- Hello 👋
Thanks for your interest in `MARKET Protocol`. Looks like this issue is still open, so feel free to jump onto it.

BTW this issue also has `0.15 ETH` bounty attached to it. You can use `Gitcoin` in order to claim the bounty in case you aren't familiar with it. I'd recommend clicking [`Start Work`](https://gitcoin.co/issue/MARKETProtocol/MARKETProtocol/81/449) before actu

[2018-05-18 05:00] captnseagraves commented on #81
Hey Phil, is this bounty still open? It appears tests are passing on Travis CI (or perhaps I misunderstand what I'm looking at). I'm an experienced solidity dev currently working in LA, but originally from Boulder. I have some work I've done on Liquid Democracy on Github, but most of my recent work has been in private repos. Hoping you might have an open issue where I can demonstrate skills.

[2018-05-18 11:41] pelsasser commented on #81
@captnseagraves - thanks for wanting to lend a hand! your photo profile pic looks very familiar.

Please LMK if you need more help, looks like @cryptomental gave you a pretty good run down on the issue via discord, so if you still have questions feel free to reach out.

[2018-05-18 19:57] cryptomental opened #86 "Add instructions to readme on how to locally execute test run with coverage enabled."

[2018-05-18 19:58] cryptomental commented on #86
Self-assigned ;)

[2018-05-19 02:41] captnseagraves commented on #81
@pelsasser The issue seems to be a versioning issue with solidity-coverage which requires contract compilation with solc >= 0.4.21.

![screen shot 2018-05-18 at 7 23 09 pm](https://user-images.githubusercontent.com/22862292/40264102-bcd8bba2-5ad1-11e8-8241-9a00949d1fbb.png)

I'm happy to go through your contracts and revise the pragma to get the issue resolved, but I'm guessing you upgraded solidi

[2018-05-19 15:14] pelsasser commented on #81
Yea, we recently upgraded to 0.4.23 - I think we can downgrade for the time being until `solidity-coverage` catches up if that solves the issues.

Let me know if that does solve the issues and we can make the call.

re: EthBoulder, awesome, I am helping Kevin and Mike organize Boulder Blockchain these days.   Hope you stick around MARKET Protocol and lend a hand!

[2018-05-22 09:27] cryptomental commented on #81
Aha, they confirmed the issue, mocks must be used instead.

[2018-05-22 12:26] pelsasser opened #88 "[Coverage] Create mock .sol contracts to wrap our library functions for solidity-coverage purposes."
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-22 13:06] jagnarong commented on #81
Ok

[2018-05-22 17:38] pelsasser commented on #88
@NFhbar - yes that is correct MathLib.sol and OrderLib.sol however those libraries are used in several places throughout the tests and other contracts so it may require some more coding to ensure this all works correctly.

Thanks for grabbing this!

[2018-05-22 18:41] NFhbar commented on #88
@pelsasser quick question.
Following the setup in `README`:
`$ make start_console`
`$ make start_bridge`
`truffle(develop)> migrate`

`Error encountered, bailing. Network state unknown. Review successful transactions manually.
TypeError: Cannot read property 'address' of undefined
    at /home/nico/Desktop/public_repos/MARKETProtocol/MARKETProtocol/migrations/2_deploy_contracts.js:50:6
8
    at <a

[2018-05-22 18:48] pelsasser commented on #88
try migrate --reset

On Tue, May 22, 2018 at 12:41 PM, Nicolas Frega <notifications@github.com>
wrote:

--
Phil Elsasser
CTO and Co-Founder

marketprotocol.io
<http://www.marketprotocol.io>
Join Our Telegram Community <https://t.me/Market_Protocol_Chat>

[2018-05-22 18:52] NFhbar commented on #88
Same error:

`TypeError: Cannot read property 'address' of undefined
    at /home/nico/Desktop/public_repos/MARKETProtocol/MARKETProtocol/migrations/2_de
ploy_contracts.js:50:68
    at <anonymous>
    at process._tickDomainCallback (internal/process/next_tick.js:228:7)`

[2018-05-22 18:55] pelsasser commented on #88
@NFhbar - do you mind joining me in discord - marketprotocol.io/discord and we can get this sorted?

what branch are you working from?

[2018-05-22 18:56] NFhbar commented on #88
Joining...
branch is `develop`

[2018-05-23 07:00] NFhbar commented on #88
https://github.com/MARKETProtocol/MARKETProtocol/pull/90

[2018-05-23 07:37] cryptomental commented on #81
This will be fixed with #88 .

[2018-05-23 20:16] #88 closed

[2018-05-23 21:20] #81 closed

[2018-05-23 21:20] #86 closed

[2018-05-23 21:21] pelsasser commented on #78
@cryptomental - still some issues it seems here.

https://travis-ci.org/MARKETProtocol/MARKETProtocol/builds/382882711

[2018-05-24 07:28] cryptomental commented on #78
Hi @pelsasser I will fix this today. All was ok, just timeout will be slightly increased. I will also upgrade all contracts and tests to solc 0.4.24 and latest Truffle today.

[2018-05-24 07:30] cryptomental opened #91 "Upgrade all contracts and tests to Solidity 0.4.24 and Truffle to 4.1.11"
### User Story

As a MARKET Protocol user I want to use latest Solidity compiler.

### Why Is this Needed?

Bugfixes and warnings, this is likely one of the last releases before 0.5.0 release.

### Solution

Upgrade all contracts and tests to 0.4.24 compiler, Truffle to 4.1.11.

[2018-05-24 07:30] cryptomental commented on #91
Self-assigned.

[2018-05-24 07:46] cryptomental commented on #78
https://github.com/MARKETProtocol/ethereum-bridge/pull/3 should fix this for good. I suspect Travis virtual machines are just sometimes a bit slow or given less resources during high load and builds take a bit longer than usual.

[2018-05-24 07:48] cryptomental commented on #91
PR opened.

[2018-05-24 12:38] pelsasser commented on #78
closing for now!

[2018-05-24 12:38] #78 closed

[2018-05-24 13:45] #91 closed

[2018-05-26 08:30] weberV commented on #50
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.25 ETH (173.03 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MarketProject/MarketProtocol/50/58).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitco

[2018-05-26 08:31] weberV commented on #53
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/MARKETProtocol/53/108).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitco

[2018-05-26 08:33] weberV commented on #57
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.5 ETH (346.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/MARKETProtocol/57/157).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the

[2018-05-29 19:07] pelsasser opened #93 "Fix issues with possibility of wash trading in traderOrder"
### User Story

As a market participant, I do not want to allow wash trading

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Fair markets!

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
It appears t

[2018-05-30 19:40] pelsasser opened #94 "[MarketCollateralPool] Implement factory that could possibly create collateral pool and link to MarketContract"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-30 19:48] eswarasai opened #95 "[npm] Rename the npm package to @marketprotocol/solidity"
### Description
Update the `npm` package to follow the Org scope of `@marketprotocol` for easy linking across all the other repos.

Ref: https://docs.npmjs.com/getting-started/scoped-packages

*Type*: Enhancement

### Definition of Done
 - Change `market-solidity` to `@marketprotocol/solidity`

[2018-05-31 13:06] #95 closed

[2018-05-31 16:49] pelsasser commented on #93
@arun1595 - how is this coming?

[2018-05-31 16:51] pelsasser opened #97 "Add contributing.md"

[2018-05-31 17:31] arun1595 commented on #93
@pelsasser Working on writing tests, will submit a PR in a while.

[2018-05-31 18:18] pelsasser opened #98 "Refactor `baseTokenAddress` to `collateralTokenAddress`"
### User Story

 As a user, I find the `baseTokenAddress` or `baseToken` to be more confusing than just calling it the `collateralToken` or `collateralTokenAddress`

### Why Is this Needed?

*Summary*: to discuss if we should refactor this now!

### Description

*Type*: Discussion

### Current Behavior
`baseToken` used

### Expected Behavior
`collateralToken` used

### Solution

*Summary*: refacto

[2018-05-31 18:30] eswarasai commented on #98
@pelsasser -- Do we use `baseToken` somewhere already? I don't remember having this in `dApp` anywhere. I'd say now is the best time to refactor without breaking much of the changes in case we'd want to.

[2018-05-31 18:58] cryptomental commented on #98
To be honest when I started with MARKET I was also confused with the baseToken vs collateralToken. +1 for the refactoring.

[2018-06-01 13:16] pelsasser commented on #98
okay, I think I am going to go ahead with this then.

[2018-06-02 16:45] #93 closed

[2018-06-04 16:58] pelsasser commented on #98
closed in #101

[2018-06-04 16:58] #98 closed

[2018-06-07 14:44] #94 closed

[2018-06-11 22:04] #97 closed

[2018-06-27 23:35] pelsasser opened #104 "[MarketContract] add price to orderFilled event"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-29 18:13] pelsasser commented on #104
@travisdmathis to tackle at some point soon.

[2018-07-09 18:39] #104 closed

[2018-07-10 01:20] pelsasser opened #106 "[MathLib] modify calculateNeededCollateral to be public"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-10 19:05] #106 closed

[2018-07-10 19:08] #67 closed

[2018-07-12 17:48] travisdmathis opened #107 "Add underlying asset to MarketContract data"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I would like to be able to get back the underlying asset data easily from a field on the Market Contract.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

F

[2018-07-18 22:55] pelsasser commented on #44
REFERENCEASSETSYMBOL_COLLATERALTOKENSYMBOL_DATAPROVIDER_EXPIRATION_USERTEXT

### Examples

BTC_WETH_BIN_1531911382232_PE

BTC_USDT_BIN_1531911382232_001

### Possible problems

- Is there really a need for the expiration since we already store it in contract in the same format? Every added bit of data costs more gas.
- Do we need anything else?
- Contract names may not be unique.

[2018-07-19 10:57] pelsasser commented on #44
There is nothing we can do to force uniqueness really, and I don't think we should to be honest.  At the very end of the day the contract address will be unique, AND it is very unlikely two people create identical contracts expiring at the same second.

Adding fields that already exist in the contract meta data elsewhere (like `FLOOR` and `CAP`) to me seems redundant.  Off chain applications can a

[2018-07-19 19:53] pelsasser commented on #107
Closing in favor of contract naming specifications #44

[2018-07-19 19:53] #107 closed

[2018-07-19 19:58] pelsasser opened #108 "reformat data structures to allow for the returning of a users complete positions"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-19 22:52] #108 closed

[2018-07-20 16:01] 42piratas opened #112 "TEST 2"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-07-24 16:08] #112 closed

[2018-07-25 18:11] pelsasser commented on #44
closing in deference to epic https://github.com/MARKETProtocol/dApp/issues/268

[2018-07-25 18:12] #44 closed

[2018-08-15 22:08] perfectmak opened #117 "Rename getUserAccountBalance() to getUserUnallocatedBalance()"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-29 22:46] pelsasser opened #118 "Being primary exploratory integration with ChainLink"
### User Story
As a user, I would like to be able to use ChainLink and not just oraclize.it

### Why Is this Needed?
*Summary*: ChainLink is awesome

### Description
*Type*: Feature

### Definition of Done
- [ ] understand MVP needed to create a chainlinked implementation
- [ ] research ability to run chainlink node in docker connected to local truffle instance for testing

### Needed clarity
- [

[2018-08-29 22:47] pelsasser commented on #118
Link to sleep adapter - https://github.com/smartcontractkit/chainlink/wiki/Adapters#sleep

[2018-08-30 13:34] pelsasser opened #120 "Docker is failing with tests"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-30 13:44] pelsasser commented on #120
@perfectmak - when you have some time can you take a look at this? We can also try and get @cryptomental to help us out as well, I miss him!

[2018-08-30 15:08] thodges-gh commented on #118
Hi @pelsasser! I think this covers your clarification points. Feel free to ask for clarification as they come up in the future.

It does not. The Chainlink node will manage sleep requests as their own channel, so you can even create multiple sleep requests simultaneously, with different durations, and still receive each callback when you would expect them.

Multiple request methods, even on separa

[2018-08-30 15:11] pelsasser commented on #118
@thodges-gh - thanks a ton for the response here!

I am planning on working on some implementations this week, I also forked your repo which shows some truffle tests with an oracle deployed contract, so that certainly helps with the needed dev process.

I will keep you guys in the loop, and perhaps next week or two we can go over the MVP together

[2018-08-30 19:00] pelsasser commented on #118
@thodges-gh - can you help me understand the `specID` is this just an external ID for our own use for tagging requests?

[2018-08-30 19:12] pelsasser opened #121 "Add text reasons to all require statements"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-30 19:18] perfectmak commented on #120
Sure @pelsasser, I'll take a look at it as soon as possible.

@cryptomental we miss you 😇

[2018-08-30 19:39] thodges-gh commented on #118
Sure thing! The `specID` is an ID used by the oracle node to know what set of tasks to run for your request. We have documentation [here](https://docs.chain.link/v1.0/docs/job-specifications) that goes into further detail. In the future, we'll have an easy way of translating requirements into a job spec, but until then, if you want to describe to me what the request needs, I can provide the job sp

[2018-08-30 21:02] pelsasser commented on #118
Okay, awesome.

I think to start the ideal implementation would be to constrain it to parsing a returned json object from an rest api.

We are doing this with oraclize.it using some parsing helpers, the helpers of course vary by API structure, but allow a user to specify those by passing them into our contract constructor.

For example, by supplying this to oraclize.it
[code]

The api returns

Whi

[2018-08-30 21:36] thodges-gh commented on #118
Perfect, this is exactly what I needed to know. Our request and response methods work similar, and you can even place some parameters which should be static in the spec itself so that you don't have to specify it on-chain for each request. However, specifying everything in the request itself does make the process a lot easier to understand. That said, here's a complete (though minimal) working exa

[2018-08-30 21:46] pelsasser commented on #118
@thodges-gh - great super helpful.

So for us it would probably make sense to have a user pass in a `string[]` (that we formulate using our dApp to help them) with all the needed information.  It sounds like we would then do

[code]
which would return the price in the correct integer format for the contract.

I will have to do some research into the gas cost of deploying the chainlinked contract f

[2018-08-30 23:03] thodges-gh commented on #118
Sounds good on the gas savings. Since the callback for Chainlink can be a different contract, you could do something like the examples below. Just note that I took out the Ownable contract so you'll want to secure your contracts so that only your requesters can make calls to the Chainlinked contract.

Requester:
[code]

Consumer:
[code]

Using the `unfulfilledRequests` mapping and `checkChainlinkF

[2018-08-31 17:41] pelsasser commented on #118
@thodges-gh - deployed the MarketProtocolConsumer contract to
`0x9109d88ac87ad72fb8e5af903fa92878ca5bf7cb` on rinkeby

and then attempted to call requestPrice() which is [reverting](https://rinkeby.etherscan.io/tx/0xf4e10cbc113fcf5557696790a5492d8dd109b966cbfdf368a4b41f285de7382f).

I checked my balance of LINK and looks like I have plenty for this address, so am a bit confused where the revert is

[2018-08-31 17:51] pelsasser commented on #118
Some logging that may help when attempting to call requestPrice()

[2018-08-31 17:51] thodges-gh commented on #118
I see the problem. The MarketProtocolConsumer needs a LINK balance, not your wallet. So it should work if you send the contract address 1 LINK first, then call `requestPrice`.

[2018-08-31 17:53] pelsasser commented on #118
Right, Thanks!  Attempting now.

[2018-08-31 17:59] pelsasser commented on #118
@thodges-gh success! -

https://rinkeby.etherscan.io/tx/0x3067f88d50a561c587a2d822fc5d5a10ea627b527cce111a9375ca439d3632e5

[2018-08-31 18:27] pelsasser commented on #118
@thodges-gh - Okay next challenge ;)

[code]

The above code snippet is the ideal way for a user to be able to create the needed run, however with current version of solidity, `string[]` ,translating to `bytes[][]` and is not supported as an argument.  Sounds like this may change in the future, but for the time being, any thoughts on a workaround to a user being able to pass in the needed `path` t

[2018-08-31 20:26] pelsasser commented on #118
@thodges-gh - thanks!

Just to be clear overloaded would look like
[code]
etc...

[2018-08-31 20:35] thodges-gh commented on #118
Exactly, and the full implementation (I already had it written up) would look like:

[code]
etc...

[2018-08-31 21:01] pelsasser commented on #121
Completed the initial work, but the factory fails to deploy due to gas constraints now.  Will have to look into solutions later on.

[2018-09-02 21:05] #117 closed

[2018-09-07 00:41] #120 closed

[2018-09-07 16:14] pelsasser commented on #118
@thodges-gh - once again, thanks for all your help and responsiveness!

I wanted to share some issues / complexities that I have ran into so far, that I think will help both you guys in knowing what the developer experience on top of Chainlink is like and also probably help me to understand if I am implementing this in a way that is harder than it should be.  Here are the suggestions I have, and f

[2018-09-07 16:19] pelsasser commented on #118
@thodges-gh - if you are open to it, I can quickly create a PR for importing the open-zeppelin contracts into ChainLink

[2018-09-07 17:18] thodges-gh commented on #118
Thank you @pelsasser! I created a bug in our tracker for npm [here](https://www.pivotaltracker.com/story/show/160352152), and a feature request for the strings to be processed in the node [here](https://www.pivotaltracker.com/story/show/160352011). Ideas that help with pushing any amount of computation off-chain is definitely something that we're always interested in exploring. This seems like a f

[2018-09-07 17:58] pelsasser commented on #118
@thodges-gh - thanks that is awesome!  Will keep pushing this forward!

[2018-09-07 19:08] pelsasser commented on #118
@thodges-gh re: the PR for open zeppelin I dont have it ready to go.

[2018-09-07 19:46] thodges-gh commented on #118
@pelsasser okay, no problem. I know what we need to do and I can get that taken care of. Thank you!

[2018-09-08 16:27] thodges-gh commented on #118
@pelsasser, got a PR up [here](https://github.com/smartcontractkit/chainlink/pull/553) to fix our imports. Feel free to let me know if that won't work for you or if there's any additional improvements I can throw in to make it easier. Thank you again!

[2018-09-10 14:25] pelsasser opened #123 "Chainlink Integration"
### User Story
As a user of MARKET Protocol I would like to be able to use Chainlink

### Why Is this Needed?
*Summary*: Oracles!

### Description
*Type*: Epic

[2018-09-10 14:37] #121 closed

[2018-09-10 14:39] pelsasser commented on #121
eventually we can proceed with this, but closing issue for now.

[2018-09-10 16:08] travisdmathis opened #124 "Save unfilled orders for displaying in UI"
### User Story
As a user I want my offchain transactions to be saved

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?
So a user can see the open orders they have created that have yet to be filled.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually hap

[2018-09-10 16:41] pelsasser commented on #124
@travisdmathis - pretty sure this got created on the wrong repo ;)

[2018-09-10 16:49] pelsasser opened #125 "[Chainlink] Create contract hub"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-09-10 16:53] pelsasser opened #126 "[Chainlink] Create MarketContractChainLink"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-09-11 21:17] pelsasser opened #127 "[Chainlink] Compare costs of storing oracleQueryRunPath on chain vs recreating on demand"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-09-11 21:24] pelsasser opened #128 "[ChainLink] Figure out how to handle JobIDs in ChainLink requests"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-09-11 21:30] pelsasser opened #129 "[ChainLink] requestOnDemandQuery could deplete LINK supply in spam / attack"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-09-11 22:18] pelsasser commented on #118
@thodges-gh - initial implementation is here -

https://github.com/MARKETProtocol/MARKETProtocol/pull/130 - needs alot more polish, testing and thought.

Once you guys push through a few of the changes on your end, I will remove your src as well.

Not sure if you will be able to follow what is happening or not, but would be happy to hop on a call to talk through it sometime

[2018-09-11 22:46] thodges-gh commented on #118
@pelsasser Awesome! I'm looking through it now. I got the our [#553](https://github.com/smartcontractkit/chainlink/pull/553) merged this morning, so you should be able to use npm for our contracts already.

[2018-09-12 18:37] thodges-gh commented on #118
@pelsasser no problem! It should work by adding the following line to your "dependencies" in package.json:
[code]

Adding that should also pull in "linkToken" and "solidity-cborutils" contracts to the node_modules directory.

[2018-09-12 22:12] thodges-gh commented on #118
@pelsasser that's weird. The linkToken contracts should have been added to node_modules when you ran `npm install` with chainlink as a dependency. I saw this once on my Chainlinked project, and the work around was to simply run `npm install` again. After that, I deleted node_modules and my package-lock.json file and all dependencies were added successfully on the first try. I'd really like to avoi

[2018-09-12 22:16] pelsasser opened #131 "[Chainlink] Create tests for MarketContractChainLink"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-09-12 22:19] pelsasser opened #132 "[Chainlink] create tests for MarketContractFactoryChainLink"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-09-12 22:25] pelsasser opened #133 "[Chainlink] create tests for OracleHubChainLink"
### User Story
100% testing

### Description
*Type*: Feature

### Solution
*Summary*: Add tests for OracleHubChainLink.sol

### Definition of Done
- [ ] test that constructor correctly set the link token and oracle address
- [ ] supply the OracleHubChainLink with link token, and then ensure it can be withdrawn using withdrawLink function
- [ ] ensure withdrawLink can only be used by the owner
- [

[2018-09-12 22:39] pelsasser commented on #118
@thodges-gh - blew away package-lock.json and node_modules, reinstalled, and got a bit further.

Now stuck at the spot where your contracts are importing open-zeppelin from your source, and we are import from there package, so the contracts are colliding.

I think the only option here is for you to import from open-zepplein directly, IE
[code]

so we are then using the same contracts.

[2018-09-12 23:42] thodges-gh commented on #118
@pelsasser oh I see, sorry about that! I have a PR up on the LinkToken repo [here](https://github.com/smartcontractkit/LinkToken/pull/2) to fix it.

[2018-09-13 13:35] travisdmathis commented on #124
Issue moved to [MARKETProtocol/dApp #362](https://github.com/MARKETProtocol/dApp/issues/362) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-13 13:35] #124 closed

[2018-09-13 18:03] thodges-gh commented on #118
@pelsasser I closed [#2](https://github.com/smartcontractkit/LinkToken/pull/2) in favor of [#3](https://github.com/smartcontractkit/LinkToken/pull/3). We didn't want to risk changing the expected functionality of the token since it's already deployed. This is now merged in so you shouldn't have the contract names collide any more.

[2018-09-13 19:56] thodges-gh commented on #118
@pelsasser I have an updated oracle contract and JobIDs that will need to be used for Rinkeby once this (https://github.com/smartcontractkit/chainlink/pull/546) PR is merged in our Chainlink repo. Even then, you won't need to use them until you pull in the latest Chainlinked contract from NPM.

Oracle Contract: 0xd1639233c9604904b4d8b5c8a2927986066d3789
Immediate uint256 response JobID: 4a1b7ec37f

[2018-09-17 19:58] pelsasser commented on #128
closed in #130

[2018-09-17 19:58] #128 closed

[2018-09-17 20:17] pelsasser commented on #118
@thodges-gh - looks like there are still some issues with importing the package from your github src.

If you take a look at the contract there is no import for the SafeMath library
[code]
The good news is by adding

`import "openzeppelin-solidity/contracts/math/SafeMath.sol";`

I can compile everything!  So we are very close.

[2018-09-17 20:20] thodges-gh commented on #118
@pelsasser Oh, that means we were using the SafeMath contract vendored in from the LinkToken project, which was just renamed. Easy fix, I'll get it up. Thank you!

[2018-09-17 20:43] pelsasser opened #134 "Prepare release 1.4.0 with chainlink integrated contracts."

[2018-09-17 20:45] pelsasser opened #135 "delete old market-solidity npm package"

[2018-09-18 14:28] pelsasser commented on #135
deprecated market-solidity.

[2018-09-18 14:28] #135 closed

[2018-09-18 14:38] thodges-gh commented on #118
@pelsasser https://github.com/smartcontractkit/chainlink/pull/575 is merged with the updated import line for our oracle contract.

[2018-09-18 14:40] pelsasser commented on #118
thanks @thodges-gh - as always, very happy about how responsive you guys are with these fixes / requests!

[2018-09-18 16:58] pelsasser commented on #118
@thodges-gh - all set, just pushed a commit which closes out the import issues.

[2018-09-18 21:04] pelsasser commented on #118
@thodges-gh - thanks for the updated.  I think we are gonna lock to a commit to avoid breaking changes in our CI / testing environment as you guys continue to work on the solidity.

[2018-09-19 12:39] pelsasser commented on #118
@thodges-gh - locked to commit b395d572aa34374461e99327e048405c56a575c3 for the time being

It would be helpful for us if in your future plans you considered releasing packages with versions and release notes. We can then easily know what new features have been implemented and perhaps more importantly any breaking changes when we upgrade. Probably not as important right now with both of us on rink

[2018-09-19 12:55] pelsasser commented on #118
closing via #130 - initial work completed.

[2018-09-19 12:55] #118 closed

[2018-09-24 23:14] pelsasser opened #136 "[Bug] Issues with reducing positions and LIFO accounting methods"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
Positions are overwritten when they should be reduce in certain cases where pos qty was larger than fill qty

[2018-09-25 14:53] #136 closed

[2018-09-25 14:54] #125 closed

[2018-09-25 15:49] #126 closed

[2018-10-01 13:37] pelsasser opened #141 "[Oraclize.it] Create an oracle hub for oraclize it to handle all needed queries."
### User Story
As a user, I would like to pay less gas to deploy a new contract!

### Why Is this Needed?
*Summary*: We have created similar architecture with ChainLink and there are significant gas savings to be had.

### Description
*Type*:  Feature

### Solution
*Summary*: Create a new contract to handle all needed logic with Oraclize.it

### Definition of Done
- [ ] create the OracleHubOracliz

[2018-10-01 13:55] pelsasser opened #142 "Remove getter functions where applicable."
### User Story
Public arrays and mappings can be accessed via web3.js as long as the return type is a native solidity type.  With the abstraction provided by MARKET.js we can probably remove several of the getter functions and move all that functionality there.

### Why Is this Needed?
*Summary*: It actually may not be _needed_ but could save gas.  The real problem is the gas savings are small and

[2018-10-01 15:11] pelsasser opened #143 "Add optional time lock to collateral"
### User Story
As an exchange implementing MARKET Protocol it would be helpful to ensure collateral that is deposited into the collateral for trading is locked for withdraw longer than the life of a given order.  The user could possibly request for early withdraw of the time-locked collateral, and some elapsed number of blocks could then release the collateral early back to the user.  This delay i

[2018-10-05 13:15] #133 closed

[2018-10-05 23:54] pelsasser opened #148 "Add testing for StringLib.sol"

[2018-10-08 15:01] #131 closed

[2018-10-08 15:01] #132 closed

[2018-10-08 15:47] #148 closed

[2018-10-08 18:24] pelsasser opened #150 "clean up tests"
few places are missing coverage that can easily be hit.

[2018-10-08 19:49] #150 closed

[2018-10-08 20:28] #134 closed

[2018-10-16 13:39] pelsasser opened #152 "Add change in balance to event UpdatedUserBalance()"
### User Story
It would be nice for end users to be able to know the change in collateral balances that occur during the event UpdatedUserBalance.

### Why Is this Needed?
*Summary*: Easier tracking in dApp

### Description
*Type*: Feature!

### Definition of Done
- [ ] add changeInBalance arg to UpdatedUserBalance
- [ ] add tests

[2018-10-24 23:08] rojosnow commented on #152
Issue moved to [MARKETProtocol/smartcontracts #1](https://github.com/MARKETProtocol/smartcontracts/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-24 23:09] rojosnow commented on #143
Issue moved to [MARKETProtocol/smartcontracts #2](https://github.com/MARKETProtocol/smartcontracts/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-25 20:45] #123 closed

[2018-11-10 10:22] pelsasser opened #153 "Support new EIP-712 signing standards."
### Why Is this Needed?

Compliance with updated signing methods for multiple wallet support and better UX / security

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
Research and scope out needed changes.

[2018-11-22 16:40] mayorcoded commented on #152
Hi @pelsasser ,
I have an interest in solving this issue and I would like to know if anyone is already working on it. I tried to communicate on the #Engineering channel on Discord, but I could not get my phone number verified. I look forward to hearing from you. Mayowa.

[2018-11-26 19:38] pelsasser commented on #152
@mayorcoded - that would be great if your willing to tackle this!  Apologies for the slow response and let me know if there is anything you need from me in order to get up to speed.

[2018-11-26 21:33] mayorcoded commented on #152
@pelsasser Thanks for your response. First, I would like to share my understanding of the issue and how I intend to approach it so that you can verify before I start to work on the issue.

issue: In the MarketCollateralPool.sol contract file, `changeInBalance` argument needs to be added to the `UpdatedUserBalance` event to reflect the changes in the collateral balances when the event is emitted.

[2018-11-27 00:26] rojosnow opened #154 "[MARKET Protocol] Ongoing Support"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-11-27 00:54] #154 closed

[2018-11-27 00:54] rojosnow commented on #154
Issue moved to [MARKETProtocol/planning #23](https://github.com/MARKETProtocol/planning/issues/23) via [**ZenHub**](https://www.zenhub.com/)

[2018-11-27 17:12] pelsasser commented on #152
@mayorcoded

I think your understanding of the implementation is right on here.

Your question regarding the negative value and type is a very good and important one.  I commend you on thinking through this prior to coding it!  I believe this value does need to be an `int` type because as you mention it will be signed (+/-).

[2018-11-28 18:11] mayorcoded commented on #152
Thanks for the commendation, Phil. I will go ahead and start working on this project, the timeline will be 3 days.

[2018-11-29 10:59] perfectmak opened #155 "[Setup] Explicitly state Node version required in Setup Guide"
### Description
*Type*: Enhancement

Update Setup Instruction in the Readme to explicity specify the current supported version of Node.js.
This would help prevent some possible issues when setting up.

### Definition of Done

- [ ] Readme should state MarketProtocols required Version Node (8.10.0 - 8.11.3)
- [ ] (Optional) Also suggest user install nvm for easy switching of versions.

[2018-11-30 08:39] mayorcoded commented on #152
Thanks, Phil.

@pelsasser I have a little challenge with the tests. I have implemented the feature - **Add change in balance to event UpdatedUserBalance** - in the contract, and I am working on the tests. There are 4 functions in MarketCollateralPool.sol where the `UpdatedUserBalance` is emitted,  so far, I have written tests for two of them (`depositTokensForTrading` and  `withdrawTokens`). Howev

[2018-11-30 18:22] perfectmak commented on #152
@mayorcoded Well done.
Yes, testing private functions is not advisable.
Here are two possible suggestions to test those events:
1) If you would like to test those you might as well write a test for the public function that uses them i.e. `updatePositions()`, but it would require a little setup before you can successfully call it, set up such as having a correct marketContract and also setting a co

[2018-11-30 19:41] mayorcoded commented on #152
@perfectmak Thanks for the suggestions, I will look into them and also submit a WIP PR.

[2018-12-06 18:22] pelsasser opened #156 "Long and Short Token naming conventions"
### User Story
As a user and developer of MP, we need to determine how to name the short and long tokens and what symbol to be used for them.

### Why Is this Needed?
*Summary*: This will determine how positions show up in a wallet.

### Description
*Type*: Feature

### Current Behavior
erc20 tokens names are generically called "Long Position Token" with symbol "LONG"

### Expected Behavior
we cre

[2018-12-06 18:52] pelsasser opened #157 "[Tests] TestMathLib.sol updates"
### Definition of Done
- [ ] add tests for new `calculateTotalCollateral`

### Additional Information
[comment]: # (Any other information that would be useful, content, screenshots, etc.)

[2018-12-06 18:59] pelsasser opened #158 "[Tests] Create tests for PositionToken.sol"
## Definition of Done
- [x]  call `mintAndSendToken` and `redeemToken` from non owner failes
- [x]  `mintAndSendToken` and `redeemToken` accounting of total supply and balances of minter / redeemer are correctly updated.
- [ ] any other tests and desired or needed to reach 100% coverage.

[2018-12-06 19:21] pelsasser opened #159 "[Tests] MarketCollateralPool.sol tests"
### Definition of Done
- [ ] remove all trading tests / clean up beforeEach
- [ ] implement the below tests

- [ ] `mintPositionTokens` fails if market contract is already settled
- [ ] `mintPositionTokens` fails if caller has insufficient collateral balance
- [ ] `mintPositionTokens` fails if caller has not called ERC20 approve on the collateral token
- [ ] `mintPositionTokens` locks the correct

[2018-12-06 19:25] pelsasser opened #160 "[Tests] update TraderHelper.js"
### User Story
As a user I want a helper class that is updated with out new contract structure.

### Description
*Type*: Feature

### Definition of Done
- [ ] update TraderHelper.js for new contract
- [ ] remove uneeded trading logic
- [ ] fix all comments / notes

### Additional Information
[comment]: # (Any other information that would be useful, content, screenshots, etc.)

[2018-12-06 19:35] pelsasser opened #161 "[Tests] MarketContractOraclize.js clean up"
### Definition of Done
- [ ] clean up  and get it all running

[2018-12-06 19:37] pelsasser opened #162 "[Tests] regain near 100% coverage"
### Solution
*Summary*: Once all tests have been updated, see what else needs to be added to get us back to near complete coverage

### Definition of Done
- [ ] all the coverage

[2018-12-06 19:39] pelsasser commented on #153
no longer relevant with new architecture.

[2018-12-06 19:39] #153 closed

[2018-12-06 19:40] pelsasser commented on #143
closed as no longer relevant with new architecture.

[2018-12-06 19:40] #143 closed

[2018-12-07 11:39] perfectmak commented on #156
I believe the naming convention we want to take it should somehow show which underlying asset it is trading against or else there might be confusions when trading the same tokens but in different markets.

[2018-12-07 13:19] perfectmak opened #164 "[Build]: Fix failing truffle migration"
### Description

On the feature/tokenized branch, migration are failing due to the following error:
[code]
*Type*: Bug

### Reproduction
Ensure you delete the build directory. Next run `truffle migrate`. you should get the above error.

### Solution

*Summary*: Look in the migration and ensure the contracts are deployed with their respective dependencies.

### Definition of Done

- [ ] Migrations

[2018-12-07 14:00] #164 closed

[2018-12-07 19:01] pelsasser opened #168 "[Security] Attack vectors within minting / redemption"
### Description
There is a potential attack vector with our current architecture that needs to be explored fully.

Set up for scenario -
[code]
[code]

Theoretically an attacker could call mint using MarketContractB, it would transfer and lock the FakeCollateral erc20 token and mint Long and Short tokens, which could then be redeemed in MarketContractA for real Dai.

This is currently prevented by

[2018-12-07 19:06] rojosnow commented on #168
@pelsasser Are there any concepts here that would help, https://github.com/AZTECProtocol/AZTEC?

[2018-12-07 19:10] pelsasser commented on #168
@rojosnow pretty sure the solution is resolved, just want to make sure its considered and kicked around a bit.

[2018-12-07 20:50] pelsasser opened #169 "[tests] create all needed tests for updated oraclize contract structure."
Ensure that callbacks end up calling MarketContracts and on demand query can also work correctly.

[2018-12-07 22:39] pelsasser opened #170 "[tests] Add test for new oraclize call back structure to deal with gas checks"
[code]

[2018-12-08 02:16] #168 closed

[2018-12-08 02:16] #161 closed

[2018-12-08 02:17] pelsasser commented on #159
@perfectmak - I added a few of these, just mainly to make sure everying is working.

Please rebase when you are ready to pick this all back up!

[2018-12-10 19:10] #157 closed

[2018-12-11 21:46] pelsasser commented on #141
created in feature/tokenized.

[2018-12-11 23:00] pelsasser commented on #141
negative, it will be closed when we merge feature/tokenized to develop...or it could be now, it doesn't really matter.  Either way its done, but pending merge

[2018-12-11 23:10] rojosnow commented on #141
@pelsasser Cool. Is there another issue we can REF?

[2018-12-11 23:55] pelsasser commented on #141
No, it will be tied to a PR, we can find the exact commit if you want that.

On Tue, Dec 11, 2018 at 4:10 PM Robert Jordan <notifications@github.com>
wrote:

--
Phil Elsasser
CTO and Co-Founder

marketprotocol.io
<http://www.marketprotocol.io>
Join Our Telegram Community <https://t.me/Market_Protocol_Chat>

[2018-12-11 23:58] rojosnow commented on #141
@pelsasser No, don't worry about it. I thought it was a PR already in code review. I'm going to move this to Code Review and we'll close it with the merge of the branch.

[2018-12-12 11:39] perfectmak commented on #160
@pelsasser I believe the TradeHelper is no more useful. We should just delete it.

[2018-12-12 14:04] perfectmak commented on #170
@pelsasser about this issue. Should the code in the description be added to the codebase? Or perhaps you should update the issue description.

[2018-12-12 14:46] pelsasser commented on #170
@perfectmak sorry yea not clear.  I was moving fast when I created this issue.

The goal here is to take this old test that @cryptomental wrote and adapt it to the new OracleHub to ensure everything works there as expected with regards to the amount of gas needed for the callback.

make sense?

[2018-12-12 15:09] perfectmak commented on #170
Hmmm... Okay. Make sense.

[2018-12-12 17:59] pelsasser commented on #158
@eswarasai - how is this going?  It seems some of them are covered in the PR we just merged but some of them are still outstanding correct?

[2018-12-12 18:00] pelsasser commented on #160
yup. closing this issue.

[2018-12-12 18:00] #160 closed

[2018-12-12 18:01] #152 closed

[2018-12-12 18:34] pelsasser commented on #141
closed via #173

[2018-12-12 18:34] #141 closed

[2018-12-12 20:51] pelsasser commented on #158
@eswarasai - great thanks for the update!

[2018-12-13 18:58] #158 closed

[2018-12-18 22:13] pelsasser opened #177 "add anonymous payable function to oraclizehub"
- [ ] add payable function so we can add ETH as needed
- [ ] add tests to ensure sending ETH to the contract works.

[2018-12-18 22:54] #49 closed

[2018-12-19 00:00] pelsasser opened #178 "[Tests] Ethereum Bridge is crashing during tests."
I have tracked this down all the way to a very initial commit on my part - f7e3efee1e76dc21435e2fb2af626775c2e6cf8f

#### to reproduce
1. start truffle
2. start eth-bridge
3. run full test suite
4. watch the crash occur

[code]

My best research at this point says there is some asynchronous issues that sometimes occurs (more often than not).

Currently taking these steps to try and remedy
1. looki

[2018-12-19 00:11] pelsasser commented on #178
Confirmed 3c053644efbf9d5514d3d63282910d487c37becd was working prior to new contract structure.

[2018-12-19 02:04] pelsasser commented on #178
was able to reproduce with OracleHubOraclize.js completely deleted.

[2018-12-20 14:30] perfectmak commented on #178
I'll create the issue with eth-bridge now.
I'll also spend some time on this issue again today.

[2018-12-21 18:53] rojosnow commented on #162
On hold, need to decide on Oraclize.IT. ref #178

[2018-12-21 20:19] rojosnow opened #179 "[Settlement] Create a time delay between contract expiration and settlement of funds."
#### User Story

- As an <audience/user>:  user of MPX
- I want to <action/task>: have trading halted immediately upon the expiration of a contract
- so that <outcome/goal/benefit>: no odd trades are made, and then within X hours the contract settles and I am able to redeem collateral.

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Solution
Separating the halt of trading to t

[2018-12-21 20:20] rojosnow commented on #179
@pelsasser This is the issue created for the timeout between contract expiration and settlement to allow for the settlement process and disputes.

[2018-12-21 23:20] rojosnow commented on #52
Closing.

[2018-12-21 23:20] #52 closed

[2018-12-21 23:21] rojosnow commented on #48
Closing.

[2018-12-21 23:21] #48 closed

[2018-12-21 23:21] rojosnow commented on #129
Closing.

[2018-12-21 23:21] #129 closed

[2018-12-21 23:21] rojosnow commented on #127
Closing.

[2018-12-21 23:21] #127 closed

[2018-12-26 19:07] #169 closed

[2018-12-26 19:07] #170 closed

[2018-12-26 19:09] pelsasser opened #180 "[tests] remove tests for oraclize.it to avoid issues with bridge."
#### User Story

- As an <audience/user>: dev
- I want to <action/task>: be able to run automated tests
- so that <outcome/goal/benefit>: the bridge doesn't crash

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Definition of Done
- [ ] remove all tests around oraclize.it queries
- [ ] ensure that travis ci is working correctly with modified test suite

[2018-12-26 19:11] pelsasser opened #181 "[tests] clean up tests and deployments"
#### User Story

- As an <audience/user>: dev
- I want to <action/task>: have the cleanest tests possible
- so that <outcome/goal/benefit>: they are easier to debug

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description
Some of our tests currently have many extraneous calls in beforeEach blocks and other code that is a little messy, making tracking all actions during a sp

[2019-01-02 16:28] pelsasser opened #182 "[Tests] Update oraclize bridge once new fix is merged and ensure all tests passing in CI"
#### Description
Once https://github.com/oraclize/ethereum-bridge/issues/65 has been resolved we can update our forked bridge and ensure all tests and functionality are running correctly in CI environment.

#### Definition of Done
- [ ] update forked bridge
- [ ] run CI and ensure we are good to go!

#### Attach files or screenshots if it's helpful for this issue.

[2019-01-02 18:31] pelsasser opened #183 "[BUG] QTY Multiplier"
#### Describe the bug
With the new contract structure, we need to consider the `decimals` of our short and long tokens.

Previously, our positions were not divisible but now they are tokenized, and are.  This leads to the need to ensure that a WHOLE unit of a position token can be created with a reasonable amount of collateral.

If we want to use a `QTY_MULTIPLIER` as we have previously to define

[2019-01-02 18:54] pelsasser opened #184 "Position Token Decimals could be dynamically calculated / passed in at instantiation"
#### Describe the ideal solution or feature request
Currently, our `PositionToken` `decimals` is hardcoded to be 5, there are some drawbacks to this and we could consider allowing this to be passed in a constructor, or calculating a reasonable value based on the other statistics in the contract.

#### Difficulty, impact, and usage score
small

#### How does this tie into our current product?

####

[2019-01-02 19:04] pelsasser commented on #183
closed in #185

[2019-01-02 19:04] #183 closed

[2019-01-03 00:56] pelsasser opened #188 "Upgrade truffle to 5.0.0"
#### Describe the ideal solution or feature request
consider the upgrade to truffle@5.0.0
https://github.com/trufflesuite/truffle/releases/tag/v5.0.0

Some big benefits in there.

#### Difficulty, impact, and usage score
Medium

#### How does this tie into our current product?
some oraclize contracts aren't compatible with deprecated syntax in solidity.

#### Who asked for this?
Devs

[2019-01-03 00:57] pelsasser commented on #188
### NOTE
we may need to add the `--unsafe` flag to the Dockerfile in order to allow the global install

[2019-01-03 00:59] pelsasser commented on #182
closed in #187

[2019-01-03 00:59] #182 closed

[2019-01-03 15:31] pelsasser commented on #181
completed in #189

[2019-01-03 15:31] #181 closed

[2019-01-03 17:55] #155 closed

[2019-01-08 19:48] pelsasser commented on #178
Completed!

[2019-01-08 19:48] #178 closed

[2019-01-22 22:01] travisdmathis opened #192 "[EndPoint] Toggle Boolean for Maintenance Mode"
#### User Story

- As an <audience/user>:
- I want to <action/task>:
- so that <outcome/goal/benefit>:

#### Type

- [ ] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description

I need to be able to toggle a boolean state and disable trading/access to MPX.

#### Solution

#### Definition of Done

- [ ] Can toggle a boolean state for maintenance mode

#### Attach files or screenshots if it's

[2019-01-24 19:46] pelsasser commented on #177
closing

[2019-01-24 19:46] #177 closed

[2019-01-29 16:19] pelsasser opened #193 "Create ability to redeem unequal amounts of BOTH tokens post expiration"
#### User Story

- As an <audience/user>:  user
- I want to <action/task>: be able to redeem unequal amounts of tokens post expiration in 1 tx
- so that <outcome/goal/benefit>: to make my life simpler

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Definition of Done
- [ ]  create fx that allows for a unique shortTokenQty and longTokenQty that works only post expiration
- [ ]

[2019-02-19 16:26] seth-market opened #194 "Website updates"
#### User Story

- As an <audience/user>:  user
- I want to <action/task>: delete the white paper
- so that <outcome/goal/benefit>: its no longer public since its outdated.

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description

#### Solution

#### Definition of Done
- [ ] remove all links to the WP on website and docs page.

#### Attach files or screenshots if it's helpf

[2019-02-19 17:15] #194 closed

[2019-02-19 17:15] rojosnow commented on #194
Issue moved to [MARKETProtocol/website #293](https://github.com/MARKETProtocol/website/issues/293) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-25 21:33] rojosnow opened #195 "[audit] Security audit of MARKET Protocol contracts"
#### User Story

- As an <audience/user>:  business owner
- I want to <action/task>: audit our contracts
- so that <outcome/goal/benefit>: we know they are secure

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description

Ethereum contract audit

#### Solution

Audit contracts! We'll need to find a vendor to do this for us.

#### Definition of Done

- Contracts are verified

[2019-02-27 15:02] pelsasser commented on #156
Needs to be addressed before launch of minting platform

[2019-02-27 15:02] #25 closed

[2019-02-27 15:05] pelsasser opened #196 "Implement contracts that can be settled using our internal oracle service"
#### User Story

- As an <audience/user>:  dev
- I want to <action/task>: be able to have contracts that are settled using an internal oracle
- so that <outcome/goal/benefit>: we can gradually move to more decentralized solutions

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description
Create implementation of base MarketContract.sol

#### Definition of Done
- [ ] new Marke

[2019-03-12 16:10] pelsasser opened #197 "Add in fee structure for minting"
#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description
Add in percent based fee to minting, that is paid in the collateral tokens

#### Definition of Done
- [ ] add percent based fee to MintPositionTokens function
- [ ] create needed functionality to allow us to transfer fee's collected out of the smart contract.

[2019-03-14 20:03] pelsasser opened #199 "add in ability to arbitrate"
#### User Story

- As an <audience/user>:  dev
- I want to <action/task>: be able to manipulate settlements
- so that <outcome/goal/benefit>: if a dispute arises we are able to resolve it

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description
Allow our oracle to update the settlement price before it becomes finalized.

#### Solution

#### Definition of Done

#### Attach f

[2019-03-19 01:51] pelsasser opened #200 "Downgrade truffle, web3 1.0 is broken."
#### User Story

- As an <audience/user>:  dev
- I want to <action/task>: be able to run our test suite
- so that <outcome/goal/benefit>: we can confirm it all works

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description
https://github.com/ethereum/web3.js/issues/2171 After attempting to upgrade, there are a myriad of issues in our tests with BN, which doesn't work for ma

[2019-03-19 23:51] pelsasser opened #201 "Fix docker with removal of ETH bridge so tests are able to run on CI"
#### User Story

- As an <audience/user>:  dev
- I want to <action/task>: be able to run automated tests
- so that <outcome/goal/benefit>: we can easily integrate PRs

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description
We removed the dependency on the ETH bridge.

#### Solution
Update our docker commands and readme

#### Definition of Done
- [ ] update docker commands

[2019-03-19 23:52] pelsasser opened #202 "Add tests for new time delay functionality"
#### User Story

- As an <audience/user>:  dev
- I want to <action/task>: have tests for the time delay
- so that <outcome/goal/benefit>: we are sure that attempting to call settleAndClose before our time delay fails

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Definition of Done
- [ ] add test that fails when attempting to redeem tokens with settleAndClose before our time

[2019-03-21 12:42] pelsasser opened #203 "Add variable fee structure"
#### Description
Create fees payable in collateral token or MKT.  Differing rates set for each of these options, and the ability to for us to turn those fees off or on.

#### Solution

#### Definition of Done
- [ ] ability to pay fees just in MKT
- [ ] ability to pay fees just in CollateralToken
- [ ] ability to pay no fees
- [ ] ability for user to choose between paying the MKT fee or the Collate

[2019-03-28 21:00] pelsasser commented on #188
closing, after attempting this upgrade it currently isnt worth addressing based on breaking changes in web3

[2019-03-28 21:00] #188 closed

[2019-04-01 15:05] pelsasser commented on #200
Closing!

[2019-04-01 15:05] #200 closed

[2019-04-01 15:06] pelsasser commented on #196
completed. Not sure why it didn't close correctly.

[2019-04-01 15:06] #196 closed

[2019-04-01 15:06] pelsasser commented on #179
Completed.

[2019-04-01 15:06] #179 closed

[2019-04-01 15:07] #199 closed

[2019-04-01 15:08] pelsasser commented on #201
@perfectmak is this something you can help me with this iteration?

[2019-04-01 15:08] #156 closed

[2019-04-01 15:10] pelsasser commented on #197
closing in deference to #203

[2019-04-01 15:10] #197 closed

[2019-04-01 16:24] pelsasser commented on #203
COLLATERAL_TOKEN_FEE_PER_UNIT;
MKT_TOKEN_FEE_PER_UNIT;

IF both zero === no fees charged
IF both non zero === user decides which to pay
IF one zero (other not zero) === fees must be paid in non zero token.

[2019-04-01 18:23] pelsasser opened #204 "Install and run MythX/Slither analysis on code"
#### User Story

- As an <audience/user>:  dev
- I want to <action/task>: make sure we are as secure as possible
- so that <outcome/goal/benefit>: our audits are easy!

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description
Install mythx and run on codebase.

Also, checkout, Slither – a Solidity static analysis framework
https://blog.trailofbits.com/2018/10/19/slither-a-so

[2019-04-01 18:29] pelsasser opened #205 "[tests] variable fee structure tests"
#### User Story

- As an <audience/user>:  dev
- I want to <action/task>: want to test that we have correct fees flexibility in contracts
- so that <outcome/goal/benefit>: we can deploy them and know we have all needed states.

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Definition of Done
- [ ] deploy a contract that only has fees in MKT and ensure that
1. Fees are calcula

[2019-04-01 18:40] pelsasser commented on #205
This should help in understanding fee structure states.

COLLATERAL_TOKEN_FEE_PER_UNIT;
MKT_TOKEN_FEE_PER_UNIT;

IF both zero === no fees charged
IF both non zero === user decides which to pay
IF one zero (other not zero) === fees must be paid in non zero token.

[2019-04-02 16:11] #201 closed

[2019-04-04 10:31] #203 closed

[2019-04-04 15:57] pelsasser opened #208 "Seperate oracle hub signer and arbitrator / owner"
#### Type
- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description
Separate key management to allow or oracle hub to publish initial settlement value to contract, but has to be confirmed by owner key to release collateral.

Owner key can also expire / settle contract and set the oracle address

#### Solution
This allows us to create multi signature settlement for the time being and ens

[2019-04-04 22:37] rojosnow commented on #208
@pelsasser This will be an important one to get into the security audit.

[2019-04-05 12:44] #202 closed

[2019-04-05 12:44] #205 closed

[2019-04-08 14:00] pelsasser opened #210 "Final testing of missing coverage lines"
#### Definition of Done
- [ ] https://coveralls.io/builds/22625418/source?filename=contracts/MarketCollateralPool.sol
- [ ] https://coveralls.io/builds/22625418/source?filename=contracts/MarketContract.sol
- [ ] https://coveralls.io/builds/22625418/source?filename=contracts/mpx/MarketContractMPX.sol

#### Attach files or screenshots if it's helpful for this issue.

[2019-04-08 18:09] pelsasser opened #213 "[BUG] coverage tests fails in travis."
#### Priority + Rationale
High - would like to see if we are actually missing any coverage

#### Describe the bug
https://travis-ci.org/MARKETProtocol/MARKETProtocol/builds/517388586?utm_source=github_status&utm_medium=notification

Tests pass, but coverage tests fail

#### Steps to Reproduce
See above

#### What do you believe the expected behavior is
coverage tests pass and we get reliable cover

[2019-04-08 20:31] #210 closed

[2019-04-08 20:31] #208 closed

[2019-04-08 21:58] pelsasser commented on #213
I am not sure this is currently worth fixing.  There are a few issues that are going to present themselves.

1. It appears that solidity-coverage is using an older version of ganache-cli than truffle is or some other oddity is causing different test behavior from the two
[code]

2.  The `revert` errors in the coverage environment are not returning any sort of message with them.  Our new tests ensu

[2019-04-09 01:33] pelsasser commented on #213
moving ethereumjs-testrpc-sc@6.4.1 helps, and locally I can get tests to run and coverage reported correctly without docker.

Looks like the issue with the failing tests is actually a result of .call() - I am going to commit fixes to the tests.

@perfectmak I could not get this working in CI with or without Docker, if you want to take a crack at it, please do.  Otherwise I think we should forego c

[2019-04-09 01:35] pelsasser commented on #213
[code]

[2019-04-10 18:43] pelsasser opened #214 "[BUG] Set oracleHubAddress in factory constructor"
#### User Story

- As an <audience/user>:  user
- I want to <action/task>: make sure the oracle hub address is always set
- so that <outcome/goal/benefit>: contracts deploy correctly.

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Definition of Done
- [ ] add oracleHubAddress to constructor of factory and update migrations

[2019-04-23 00:00] pelsasser commented on #214
this is completed.

[2019-04-23 00:00] #214 closed

[2019-04-23 00:16] #204 closed

[2019-05-08 14:12] pelsasser opened #215 "Enable solc optimizer"
#### User Story

- As an <audience/user>:  user
- I want to <action/task>: use the solc optimizer
- so that <outcome/goal/benefit>: I can pay less gas!

#### Definition of Done
- [ ]  enable and test the solc optimizations

[2019-05-16 18:42] pelsasser opened #216 "Consider handling tokens accidentally sent to contracts"
[code]

#### Definition of Done
- [ ] add ability for owner to extract ETH or tokens incorrectly sent to these contracts.

[2019-05-16 18:53] pelsasser opened #217 "Consider adding error check on fee % variables in constructor."
[code]
Theoretically this isn't strictly true (there is no limit on fees), but in practice is.  I think I would rather add error checking in our market.js libraries rather than bloating on chain contracts but want to consider this.

[2019-05-16 18:56] pelsasser opened #218 "Copy safeERC20 from 2.2.0 of Open Zeppelin, downgrade to 0.4.25 and implement"
Due to issues found in Open Zeppeling safeERC20 @ 2.0.2 we should upgrade.

#### User Story

- As an <audience/user>:  dev
- I want to <action/task>: have the most up to date OZ codebase
- so that <outcome/goal/benefit>: we can rely on safeERC20 functionality

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description
Upgrading to 0.5.0 of solidity isn't a good option for us,

[2019-05-16 18:57] pelsasser opened #219 "Discuss locking deployment to owner key"
@pelsasser to discuss internally and revert back

[2019-05-17 16:07] pelsasser opened #221 "Upgrade to truffle 5 and solidity 0.5.2"
#### User Story

- As an <audience/user>:  dev
- I want to <action/task>: be able to use latest OZ libs
- so that <outcome/goal/benefit>: we don't have to hack our way into a safeERC20 implementation that works.

#### Definition of Done
- [ ] upgrade all solidity
- [ ] upgrade all tests to use BN and not BigNumber

@perfectmak -  this is a pretty big undertaking, we can talk more about it on monda

[2019-05-17 16:11] #215 closed

[2019-05-19 23:36] pelsasser opened #223 "Upgrade increase, createEVMSnapshot, and restoreEVMSnapShot to newest web3"
#### User Story

- As an <audience/user>:  dev
- I want to <action/task>: update all methods using web3.currentProvider.sendAsync(
- so that <outcome/goal/benefit>: we can use them with the new web3 CoreMethodModule Abstract Method

#### Type

- [x] Enhancement
- [ ] Maintenance
- [ ] Refactor

#### Description
https://web3js.readthedocs.io/en/1.0/web3-core-method.html?highlight=json%20rpc#abstrac

[2019-05-19 23:37] #217 closed

[2019-05-19 23:37] #216 closed

[2019-05-19 23:38] pelsasser commented on #193
close in #220

[2019-05-19 23:38] #193 closed

[2019-05-20 13:19] #219 closed

[2019-05-20 21:11] #221 closed

[2019-05-20 21:11] #223 closed

[2019-05-20 21:12] #218 closed

[2019-05-20 22:29] pelsasser opened #225 "Implement bytes32[3] for names rather than comma seperated string."

[2019-05-21 00:18] #225 closed

[2019-05-24 17:46] #195 closed

[2019-05-28 14:25] rojosnow opened #227 "[bug] Fix stage-kovan minting"
#### Priority + Rationale

#### Describe the bug

MPX is using incorrect contracts on stage-kovan. Deploy new contracts.

#### Steps to Reproduce

#### What do you believe the expected behavior is

#### Relevant screenshots

**Desktop (please complete the following information):**

**Mobile (please complete the following information):**

## Additional context

[2019-05-28 14:30] pelsasser commented on #227
To be clear, only solution to fix staging is to push a new release of MPX, mpx-api, admin

[2019-05-28 22:07] #227 closed

[2019-05-28 22:08] pelsasser opened #228 "lock down deployMarketContractMPX to owner key"

[2019-05-28 23:43] #228 closed

[2019-09-04 23:19] seth-market opened #230 "Hummingbot/MARKET Protocol"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

Please make sure to comment in the issue here immediately after starting work so we know your plans for implementation and a timeline.

**Please also note that in order fo

[2019-09-05 18:14] alexjg commented on #230
I'm interested in the gitcoin bounty on this so I've been having a read through the codebase and trying to understand how I would approach the task. I've only been at it for a few hours but I have a question about the proposed architecture here.

You suggest that this is different enough to the cross exchange strategy that it would warrant a new strategy. From my reading it seems that almost all o

[2019-09-05 20:31] carlolm commented on #230
Hi @alexjg, we (hummingbot) have a developer's forum here:
https://forum.hummingbot.io/t/gitcoin-bounty-custom-strategy-for-market-protocol-sbtc-lbtc/44

You can post there so that our developers can see and reply to your question.

[2019-09-06 10:22] think-in-universe commented on #230
### Motivation

I have also applied for contribution to implement this new strategy because I'm curious in the design of hummingbot, and is interested to take the chance to learn from the project and contribute whatever I can.

### Design

I have read through the requirement and agree it would be reasonable to build a new strategy to fit the patterns of more synthetic assets in future. There might

[2019-09-11 05:26] 0xSSoul opened #231 "Inverse Contracts"
#### Describe the ideal solution or feature request
Current, the Market contract is quoted as A/B and settled in A. For example, the LSBTC is quoted in Dai/BTC and settled in Dai.
We can create the "inverse contracts" which quote prices as B/A in the calculations of P&L.  Thus, we take the inverse of the price quotations when calculating P&L. The inverse contract size is one currency A. To buy/sel

[2019-09-12 05:32] pjfy commented on #230
👋

[2019-10-14 21:06] vic-en commented on #230
@seth-market , I'm still waiting for your response. I'm ready to complete this bounty asap.

[2019-10-20 23:39] zyfrank commented on #230
is this issue still valid?

[2019-10-20 23:41] seth-market commented on #230
We are considering a few applicants right now. But feel free to apply. It is still active.

[2019-12-05 22:29] nazariyv commented on #230
If it is active, I may consider giving it a shot at some point. I have co-founded Traider, a systematic cryptocurrency trading company, and we have developed market-making strategies before, so I have experience in this.

[2021-04-11 08:18] LeeMCDEX opened #240 "MCDEX Hummingbot Bounty（arbitrage strategy based on funding rate）"
Before you start work
Please make sure you contact us in discord #Hummingbot bounty channel or directly reach us at telegram handle @Lee_MCDEX. Anyone interested in this bounty must be approved beforehand.

Description
The bounty program is established for the development of an arbitrage strategy between MCDEX and other exchanges.
MCDEX is calling for developers to produce arbitrage strategies bas

[2021-04-13 08:03] LeeMCDEX opened #241 "MCDEX publish bounty test"
(This issue is for Bounty testing by the MCDEX team. The issue will be deleted after the test is over.)

Description: MCDEX's V3 testnet has always had some problems. I hope that the hunter can test it and give suggestions for improvement. The issue about UI, UX, and front-end development are all OK.

[2021-04-13 08:25] #241 closed, assigned to nobody